include "modules/head.html"

<div class="wrapper">
   
   include "modules/header.html"
   
   <div class="inline">
      
		<div class="row">
			<div class="col-12">
				<div class="notification" data-plugin="notification">
					<div class="notification-sign"></div>
					<div class="notification-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non suscipit arcu. Cras semper urna arcu, vel cursus magna interdum ut. Suspendisse suscipit orci ac erat consequat.</p>
					</div><!--/notification-text-->
					<div class="notification-close">
						<span class="notification-close-label">Sulge</span> <span class="before-close"></span>
					</div>
				</div><!--/notification-->
			</div><!--/col-12-->
		</div><!--/row-->
		
		<div class="row">
			<div class="col-12">
				<div class="notification notification-danger" data-plugin="notification">
					<div class="notification-sign"></div>
					<div class="notification-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non suscipit arcu. Cras semper urna arcu, vel cursus magna interdum ut. Suspendisse suscipit orci ac erat consequat.</p>
					</div><!--/notification-text-->
					<div class="notification-close">
						<span class="notification-close-label">Sulge</span> <span class="before-close"></span>
					</div>
				</div><!--/notification-->
			</div><!--/col-12-->
		</div><!--/row-->
		
		<div class="row">
			<div class="col-12">
				<div class="notification notification-success" data-plugin="notification">
					<div class="notification-sign"></div>
					<div class="notification-text">
						<p>Lorem ipsum dolor sit amet, conse</p>
					</div><!--/notification-text-->
					<div class="notification-close">
						<span class="notification-close-label">Sulge</span> <span class="before-close"></span>
					</div>
				</div><!--/notification-->
			</div><!--/col-12-->
		</div><!--/row-->
		
      <div class="row">
         <div class="col-9 sm-12">
            
            <div class="block block-narrow sm-show">
               <h2 class="block-title sm-borderless">Peahoone</h2>
               
               <div class="accordion accordion-xs" data-plugin="accordion">
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Üldinfo</div>
                     <div class="accordion-content">
                        
                        <ul class="list-details">
                           <li>
                              <div class="before-location"></div>
                              <div class="list-details_text">
                                 <p>Väimela, Võru vald, Võru maakond 65566 </p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-phone"></div>
                              <div class="list-details_text">
                                 <p>+372 78 50 800</p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-envelope"></div>
                              <div class="list-details_text">
                                 <p><a href="mailto:vkhk@vkhk.ee">vkhk@vkhk.ee</a></p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-unlock"></div>
                              <div class="list-details_text">
                                 <p>Maja avatud E-R 8-20</p>
                              </div><!--/list-details_text-->
                           </li>
                        </ul><!--/list-details-->
                        
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Kaart</div>
                     <div class="accordion-content">
								<div class="map-wrapper">
									<div class="map" data-plugin="googleMaps" data-coords="59.3476599,26.3675338" data-icon="assets/imgs/mapIcon.png" data-zoom="15"></div>
									<img src="assets/imgs/placeholder-56.gif" />
								</div><!--/map-wrapper-->
							</div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Parkimine</div>
                     <div class="accordion-content">
                        <p>
									Amet proident litteris sed vidisse firmissimum si consequat, consequat id 
									senserit, et in elit tamen velit. Iudicem magna quem voluptate noster ubi tempor 
									ipsum e pariatur domesticarum. Quae commodo ea relinqueret, duis possumus 
									nostrud. Amet excepteur ita eram nulla ex minim ullamco eu multos quae. Arbitror 
									quid quo proident transferrem ea summis comprehenderit probant quis appellat do 
									labore e an legam doctrina ex te quorum noster do vidisse. Iis quem nam legam si 
									cillum incurreret ad senserit.
								</p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Transport</div>
                     <div class="accordion-content">
                        <p>
									Amet proident litteris sed vidisse firmissimum si consequat, consequat id 
									senserit, et in elit tamen velit. Iudicem magna quem voluptate noster ubi tempor 
									ipsum e pariatur domesticarum. Quae commodo ea relinqueret, duis possumus 
									nostrud. Amet excepteur ita eram nulla ex minim ullamco eu multos quae. Arbitror 
									quid quo proident transferrem ea summis comprehenderit probant quis appellat do 
									labore e an legam doctrina ex te quorum noster do vidisse. Iis quem nam legam si 
									cillum incurreret ad senserit.
								</p>
								
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
               </div><!--/accordion-->
               
            </div><!--/block-->
            
            <div class="block">
               
               <h2 class="block-title">Kontakt</h2>
               
               <div class="row sm-hide">
                  <div class="col-12">
                     <h3>Filtreeri</h3>
                  </div><!--/col-12-->
               </div><!--/row-->
               
               <form method="post" action="kontakt.html" data-plugin="filters">
               <div class="row">
                  <div class="col-12">
                     <div class="btn-bar">
                        <span class="btn-input">
                           <input type="checkbox" name="category" value="all" checked />
                           <span class="btn btn-xs btn-alternate">Kõik</span>
                        </span><!--/btn-input-->

                        <span class="btn-input">
                           <input type="checkbox" name="category" value="1" />
                           <span class="btn btn-xs btn-alternate">Juhtkond</span>
                        </span><!--/btn-input-->

                        <span class="btn-input">
                           <input type="checkbox" name="category" value="2" />
                           <span class="btn btn-xs btn-alternate">Õpetajad</span>
                        </span><!--/btn-input-->

                        <span class="btn-input">
                           <input type="checkbox" name="category" value="2" />
                           <span class="btn btn-xs btn-alternate">Õpetajad</span>
                        </span><!--/btn-input-->

                        <span class="btn-input">
                           <input type="checkbox" name="category" value="2" />
                           <span class="btn btn-xs btn-alternate">Õpetajad</span>
                        </span><!--/btn-input-->

                        <span class="btn-input">
                           <input type="checkbox" name="category" value="2" />
                           <span class="btn btn-xs btn-alternate">Hoolekogu</span>
                        </span><!--/btn-input-->

                     </div><!--/btn-bar-->
                     
                  </div><!--/col-12-->
               </div><!--/row-->
               
               <div class="row-spacer-xs sm-hide"></div>
               <hr />
               <div class="row-spacer sm-hide"></div>
						
               <div class="row">
                  <div class="col-12">
                     <div class="form-item-row">
                        
                        <div class="form-item after-search form-item_rounded form-item-stretch">
                           <div class="form-item_title">Otsitav isik</div>
                           <input type="text" name="person" placeholder="Otsi kontakti" data-plugin="autocomplete" data-url="api/autocomplete.json" data-onSubmit="true" />
                        </div><!--/form-item-->

                        <div class="form-item form-item_rounded form-item-stretch">
                           <div class="form-item_title">Eriala</div>
                           <select name="profession" data-plugin="SumoSelect" data-onSubmit="true" >
                              <option value="">Vali kategooria</option>
                              <option value="1">Kategooria 1</option>
                              <option value="2">Kategooria 2</option>
                              <option value="3">Kategooria 3</option>
                              <option value="4">Kategooria 4</option>
                              <option value="5">Kategooria 5</option>
                              <option value="6">Kategooria 6</option>
                           </select>
                        </div><!--/form-item-->

                        <div class="row-spacer-xs sm-show"></div>
                        <div class="form-item">
                           <div class="form-item_title sm-hide">&nbsp;</div>
                           <button class="btn btn-filled">Otsi</button>
                        </div><!--/form-item-->
                        
                     </div><!--/form-item-row-->
                  </div><!--/col-12-->
               </div><!--/row-->
               
               </form>
               
               <div class="row">
                  <div class="col-12" data-postURL="api/kontakt-ajax.html" data-plugin="filterContents">
                     <div class="accordion" data-plugin="accordion">
                        <div class="accordion-entry">
                           <div class="accordion-title">Juhtkond (12)</div>
                           <div class="accordion-content">
                              
                              <div class="object object-horizontal">
                                 <div class="object-inner">
                                    <div class="object-image object-image-circle" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></div>
                                    <div class="object-content">
                                       <div class="object-content_col">
                                          <p><b>Mehis Adamson <a href="">(CV)</a></b></p>
                                          <p>
                                             Kutseõpetaja<br />
                                             +372 55 555 555<br />
                                             <a href="mailto:mehis.adamson@vkhk.ee">mehis.adamson@vkhk.ee</a>
                                          </p>
                                       </div><!--/object-content_col-->
                                       <div class="object-content_col">
                                          <p><b>Vastuvõtuajad:</b></p>
                                          <p>Direktor: kokkuleppel<br />Ajalugu: E-R 13-14</p>
                                       </div><!--/object-content_col-->
                                    </div><!--/object-content-->
                                 </div><!--/object-inner-->
                              </div><!--/object-->
                              
                              <hr class="spacing-xl" />
                              
                              <div class="object object-horizontal">
                                 <div class="object-inner">
                                    <div class="object-image object-image-circle" style="background-image:url(assets/tmp/object-2.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></div>
                                    <div class="object-content">
                                       <div class="object-content_col">
                                          <p><b>Mehis Adamson <a href="">(CV)</a></b></p>
                                          <p>
                                             Kutseõpetaja<br />
                                             +372 55 555 555<br />
                                             <a href="mailto:mehis.adamson@vkhk.ee">mehis.adamson@vkhk.ee</a>
                                          </p>
                                       </div><!--/object-content_col-->
                                       <div class="object-content_col">
                                          <p><b>Vastuvõtuajad:</b></p>
                                          <p>Direktor: kokkuleppel<br />Ajalugu: E-R 13-14</p>
                                       </div><!--/object-content_col-->
                                    </div><!--/object-content-->
                                 </div><!--/object-inner-->
                              </div><!--/object-->
                              
                              <hr class="spacing-xl" />
                              
                              <div class="object object-horizontal">
                                 <div class="object-inner">
                                    <div class="object-image object-image-circle object-no_image"><img alt="" src="assets/imgs/placeholder-56.gif" /></div>
                                    <div class="object-content">
                                       <div class="object-content_col">
                                          <p><b>Mehis Adamson <a href="">(CV)</a></b></p>
                                          <p>
                                             Kutseõpetaja<br />
                                             +372 55 555 555<br />
                                             <a href="mailto:mehis.adamson@vkhk.ee">mehis.adamson@vkhk.ee</a>
                                          </p>
                                       </div><!--/object-content_col-->
                                       <div class="object-content_col">
                                          <p><b>Vastuvõtuajad:</b></p>
                                          <p>Direktor: kokkuleppel<br />Ajalugu: E-R 13-14</p>
                                       </div><!--/object-content_col-->
                                    </div><!--/object-content-->
                                 </div><!--/object-inner-->
                              </div><!--/object-->
                              
                              <hr class="spacing-xl" />
                              
                              <div class="object object-horizontal">
                                 <div class="object-inner">
                                    <div class="object-image object-image-circle" style="background-image:url(assets/tmp/object-4.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></div>
                                    <div class="object-content">
                                       <div class="object-content_col">
                                          <p><b>Mehis Adamson <a href="">(CV)</a></b></p>
                                          <p>
                                             Kutseõpetaja<br />
                                             +372 55 555 555<br />
                                             <a href="mailto:mehis.adamson@vkhk.ee">mehis.adamson@vkhk.ee</a>
                                          </p>
                                       </div><!--/object-content_col-->
                                       <div class="object-content_col">
                                          <p><b>Vastuvõtuajad:</b></p>
                                          <p>Direktor: kokkuleppel<br />Ajalugu: E-R 13-14</p>
                                       </div><!--/object-content_col-->
                                    </div><!--/object-content-->
                                 </div><!--/object-inner-->
                              </div><!--/object-->
                              
                              <hr class="spacing-xl" />
                              
                              <div class="object object-horizontal">
                                 <div class="object-inner">
                                    <div class="object-image object-image-circle" style="background-image:url(assets/tmp/object-5.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></div>
                                    <div class="object-content">
                                       <div class="object-content_col">
                                          <p><b>Mehis Adamson <a href="">(CV)</a></b></p>
                                          <p>
                                             Kutseõpetaja<br />
                                             +372 55 555 555<br />
                                             <a href="mailto:mehis.adamson@vkhk.ee">mehis.adamson@vkhk.ee</a>
                                          </p>
                                       </div><!--/object-content_col-->
                                       <div class="object-content_col">
                                          <p><b>Vastuvõtuajad:</b></p>
                                          <p>Direktor: kokkuleppel<br />Ajalugu: E-R 13-14</p>
                                       </div><!--/object-content_col-->
                                    </div><!--/object-content-->
                                 </div><!--/object-inner-->
                              </div><!--/object-->
                              
                              <hr class="spacing-xl" />
                              
                              <div class="object object-horizontal">
                                 <div class="object-inner">
                                    <div class="object-image object-image-circle" style="background-image:url(assets/tmp/object-6.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></div>
                                    <div class="object-content">
                                       <div class="object-content_col">
                                          <p><b>Mehis Adamson <a href="">(CV)</a></b></p>
                                          <p>
                                             Kutseõpetaja<br />
                                             +372 55 555 555<br />
                                             <a href="mailto:mehis.adamson@vkhk.ee">mehis.adamson@vkhk.ee</a>
                                          </p>
                                       </div><!--/object-content_col-->
                                       <div class="object-content_col">
                                          <p><b>Vastuvõtuajad:</b></p>
                                          <p>Direktor: kokkuleppel<br />Ajalugu: E-R 13-14</p>
                                       </div><!--/object-content_col-->
                                    </div><!--/object-content-->
                                 </div><!--/object-inner-->
                              </div><!--/object-->
                              
                              <hr class="spacing-xl" />
                              
                              <div class="object object-horizontal">
                                 <div class="object-inner">
                                    <div class="object-image object-image-circle" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></div>
                                    <div class="object-content">
                                       <div class="object-content_col">
                                          <p><b>Mehis Adamson <a href="">(CV)</a></b></p>
                                          <p>
                                             Kutseõpetaja<br />
                                             +372 55 555 555<br />
                                             <a href="mailto:mehis.adamson@vkhk.ee">mehis.adamson@vkhk.ee</a>
                                          </p>
                                       </div><!--/object-content_col-->
                                       <div class="object-content_col">
                                          <p><b>Vastuvõtuajad:</b></p>
                                          <p>Direktor: kokkuleppel<br />Ajalugu: E-R 13-14</p>
                                       </div><!--/object-content_col-->
                                    </div><!--/object-content-->
                                 </div><!--/object-inner-->
                              </div><!--/object-->
                              
                              <hr class="spacing-xl" />
                              
                              <div class="object object-horizontal">
                                 <div class="object-inner">
                                    <div class="object-image object-image-circle" style="background-image:url(assets/tmp/object-2.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></div>
                                    <div class="object-content">
                                       <div class="object-content_col">
                                          <p><b>Mehis Adamson <a href="">(CV)</a></b></p>
                                          <p>
                                             Kutseõpetaja<br />
                                             +372 55 555 555<br />
                                             <a href="mailto:mehis.adamson@vkhk.ee">mehis.adamson@vkhk.ee</a>
                                          </p>
                                       </div><!--/object-content_col-->
                                       <div class="object-content_col">
                                          <p><b>Vastuvõtuajad:</b></p>
                                          <p>Direktor: kokkuleppel<br />Ajalugu: E-R 13-14</p>
                                       </div><!--/object-content_col-->
                                    </div><!--/object-content-->
                                 </div><!--/object-inner-->
                              </div><!--/object-->
                              
                           </div><!--/accordion-content-->
                        </div><!--/accordion-entry-->
                        
                        <div class="accordion-entry">
                           <div class="accordion-title">Õpetajad (7)</div>
                           <div class="accordion-content">
                              <p>
                                 In velit quamquam occaecat, cupidatat velit quamquam aliquip. Ne mentitum 
                                 praetermissum, do quem arbitror admodum ex dolor ne ea noster laborum qui fugiat 
                                 nam vidisse a ut tempor imitarentur, hic ab sunt litteris, an deserunt 
                                 instituendarum, singulis enim offendit. Te ab domesticarum. Quo quae probant 
                                 adipisicing, si summis quid id vidisse, duis se doctrina, laborum amet te 
                                 laborum tractavissent, si culpa summis a expetendis, appellat multos elit tempor 
                                 multos, et fore tempor, quid proident non quid minim. An in magna vidisse, quo 
                                 aliqua multos amet expetendis sed minim aliquip si imitarentur a esse iudicem 
                                 praetermissum. Ab tamen anim e voluptate, probant concursionibus quo possumus, 
                                 vidisse illum malis qui eram non incurreret lorem litteris incurreret. Quis a de 
                                 cillum admodum.
                              </p>
                           </div><!--/accordion-content-->
                        </div><!--/accordion-entry-->
                        
                        <div class="accordion-entry">
                           <div class="accordion-title">Nõukogu (12)</div>
                           <div class="accordion-content">
                              <p>
                                 In velit quamquam occaecat, cupidatat velit quamquam aliquip. Ne mentitum 
                                 praetermissum, do quem arbitror admodum ex dolor ne ea noster laborum qui fugiat 
                                 nam vidisse a ut tempor imitarentur, hic ab sunt litteris, an deserunt 
                                 instituendarum, singulis enim offendit. Te ab domesticarum. Quo quae probant 
                                 adipisicing, si summis quid id vidisse, duis se doctrina, laborum amet te 
                                 laborum tractavissent, si culpa summis a expetendis, appellat multos elit tempor 
                                 multos, et fore tempor, quid proident non quid minim. An in magna vidisse, quo 
                                 aliqua multos amet expetendis sed minim aliquip si imitarentur a esse iudicem 
                                 praetermissum. Ab tamen anim e voluptate, probant concursionibus quo possumus, 
                                 vidisse illum malis qui eram non incurreret lorem litteris incurreret. Quis a de 
                                 cillum admodum.
                              </p>
                           </div><!--/accordion-content-->
                        </div><!--/accordion-entry-->
                        
                        <div class="accordion-entry">
                           <div class="accordion-title">Töötajad (3)</div>
                           <div class="accordion-content">
                              <p>
                                 In velit quamquam occaecat, cupidatat velit quamquam aliquip. Ne mentitum 
                                 praetermissum, do quem arbitror admodum ex dolor ne ea noster laborum qui fugiat 
                                 nam vidisse a ut tempor imitarentur, hic ab sunt litteris, an deserunt 
                                 instituendarum, singulis enim offendit. Te ab domesticarum. Quo quae probant 
                                 adipisicing, si summis quid id vidisse, duis se doctrina, laborum amet te 
                                 laborum tractavissent, si culpa summis a expetendis, appellat multos elit tempor 
                                 multos, et fore tempor, quid proident non quid minim. An in magna vidisse, quo 
                                 aliqua multos amet expetendis sed minim aliquip si imitarentur a esse iudicem 
                                 praetermissum. Ab tamen anim e voluptate, probant concursionibus quo possumus, 
                                 vidisse illum malis qui eram non incurreret lorem litteris incurreret. Quis a de 
                                 cillum admodum.
                              </p>
                           </div><!--/accordion-content-->
                        </div><!--/accordion-entry-->
                        
                     </div><!--/accordion-->
                  </div><!--/col-12-->
               </div><!--/row-->
            </div><!--/block-->
            
            <div class="block sm-hide">
               <h2 class="block-title">Võta meiega ühendust</h2>
               
               <form>
               <div class="row">
                  <div class="col-12">
                     <div class="form-item form-item_half">
                        <div class="form-item_title">Ees- ja perekonnanimi: *</div>
                        <input type="text" />
                     </div><!--/form-item-->
                  </div><!--/col-12-->
                  
                  <div class="col-12">
                     <div class="form-item form-item_half">
                        <div class="form-item_title">E-mail: *</div>
                        <input type="text" />
                     </div><!--/form-item-->
                  </div><!--/col-12-->
                  
                  <div class="col-12">
                     <div class="form-item">
                        <div class="form-item_title">Sõnum: *</div>
                        <textarea></textarea>
                        <div class="form-item_disclaimer">* märgitud väljad on kohustuslikud</div>
                     </div><!--/form-item-->
                  </div><!--/col-12-->

                  
                  <div class="col-12">
                     <button class="btn btn-filled sm-stretch">Saada</button>
                  </div><!--/col-12-->
                  
               </div><!--/row-->
                  
                  
               </form>
            </div><!--/block-->
            
         </div><!--/col-9-->
         
         <div class="col-3 sm-12">
            <div class="block block-narrow sm-hide">
               <h2 class="block-title sm-borderless">Peahoone</h2>
               
               <div class="accordion accordion-xs" data-plugin="accordion">
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Üldinfo</div>
                     <div class="accordion-content">
                        
                        <ul class="list-details">
                           <li>
                              <div class="before-location"></div>
                              <div class="list-details_text">
                                 <p>Väimela, Võru vald, Võru maakond 65566 </p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-phone"></div>
                              <div class="list-details_text">
                                 <p>+372 78 50 800</p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-envelope"></div>
                              <div class="list-details_text">
                                 <p><a href="mailto:vkhk@vkhk.ee">vkhk@vkhk.ee</a></p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-unlock"></div>
                              <div class="list-details_text">
                                 <p>Maja avatud E-R 8-20</p>
                              </div><!--/list-details_text-->
                           </li>
                        </ul><!--/list-details-->
                        
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Kaart</div>
                     <div class="accordion-content">
								
								<a href="http://maps.google.com" class="map-wrapper">
									<div class="map" data-plugin="googleMaps" data-coords="59.3476599,26.3675338" data-icon="assets/imgs/mapIcon.png" data-zoom="15"></div>
									<img src="assets/imgs/placeholder-56.gif" />
								</a><!--/map-wrapper-->
							</div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Parkimine</div>
                     <div class="accordion-content">
                        <p>
									Amet proident litteris sed vidisse firmissimum si consequat, consequat id 
									senserit, et in elit tamen velit. Iudicem magna quem voluptate noster ubi tempor 
									ipsum e pariatur domesticarum. Quae commodo ea relinqueret, duis possumus 
									nostrud. Amet excepteur ita eram nulla ex minim ullamco eu multos quae. Arbitror 
									quid quo proident transferrem ea summis comprehenderit probant quis appellat do 
									labore e an legam doctrina ex te quorum noster do vidisse. Iis quem nam legam si 
									cillum incurreret ad senserit.
								</p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Transport</div>
                     <div class="accordion-content">
                        <p>
									Amet proident litteris sed vidisse firmissimum si consequat, consequat id 
									senserit, et in elit tamen velit. Iudicem magna quem voluptate noster ubi tempor 
									ipsum e pariatur domesticarum. Quae commodo ea relinqueret, duis possumus 
									nostrud. Amet excepteur ita eram nulla ex minim ullamco eu multos quae. Arbitror 
									quid quo proident transferrem ea summis comprehenderit probant quis appellat do 
									labore e an legam doctrina ex te quorum noster do vidisse. Iis quem nam legam si 
									cillum incurreret ad senserit.
								</p>
								
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
               </div><!--/accordion-->
               
            </div><!--/block-->
            
            <div class="block block-narrow">
               <h2 class="block-title sm-borderless">Tehnomaja</h2>
               
               <div class="accordion accordion-xs" data-plugin="accordion">
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Üldinfo</div>
                     <div class="accordion-content">
                        
                        <ul class="list-details">
                           <li>
                              <div class="before-location"></div>
                              <div class="list-details_text">
                                 <p>Väimela, Võru vald, Võru maakond 65566 </p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-phone"></div>
                              <div class="list-details_text">
                                 <p>+372 78 50 800</p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-envelope"></div>
                              <div class="list-details_text">
                                 <p><a href="mailto:vkhk@vkhk.ee">vkhk@vkhk.ee</a></p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-unlock"></div>
                              <div class="list-details_text">
                                 <p>Maja avatud E-R 8-20</p>
                              </div><!--/list-details_text-->
                           </li>
                        </ul><!--/list-details-->
                        
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Kaart</div>
                     <div class="accordion-content">
								<a href="http://maps.google.com" class="map-wrapper">
									<div class="map" data-plugin="googleMaps" data-coords="59.3476599,26.3675338" data-icon="assets/imgs/mapIcon.png" data-zoom="15"></div>
									<img src="assets/imgs/placeholder-56.gif" />
								</a><!--/map-wrapper-->
							</div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Parkimine</div>
                     <div class="accordion-content">
                        <p>
									Amet proident litteris sed vidisse firmissimum si consequat, consequat id 
									senserit, et in elit tamen velit. Iudicem magna quem voluptate noster ubi tempor 
									ipsum e pariatur domesticarum. Quae commodo ea relinqueret, duis possumus 
									nostrud. Amet excepteur ita eram nulla ex minim ullamco eu multos quae. Arbitror 
									quid quo proident transferrem ea summis comprehenderit probant quis appellat do 
									labore e an legam doctrina ex te quorum noster do vidisse. Iis quem nam legam si 
									cillum incurreret ad senserit.
								</p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Transport</div>
                     <div class="accordion-content">
                        <p>
									Amet proident litteris sed vidisse firmissimum si consequat, consequat id 
									senserit, et in elit tamen velit. Iudicem magna quem voluptate noster ubi tempor 
									ipsum e pariatur domesticarum. Quae commodo ea relinqueret, duis possumus 
									nostrud. Amet excepteur ita eram nulla ex minim ullamco eu multos quae. Arbitror 
									quid quo proident transferrem ea summis comprehenderit probant quis appellat do 
									labore e an legam doctrina ex te quorum noster do vidisse. Iis quem nam legam si 
									cillum incurreret ad senserit.
								</p>
								
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
               </div><!--/accordion-->
               
            </div><!--/block-->
            
            <div class="block block-narrow">
               <h2 class="block-title sm-borderless">Koolituse maja</h2>
               
               <div class="accordion accordion-xs" data-plugin="accordion">
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Üldinfo</div>
                     <div class="accordion-content">
                        
                        <ul class="list-details">
                           <li>
                              <div class="before-location"></div>
                              <div class="list-details_text">
                                 <p>Väimela, Võru vald, Võru maakond 65566 </p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-phone"></div>
                              <div class="list-details_text">
                                 <p>+372 78 50 800</p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-envelope"></div>
                              <div class="list-details_text">
                                 <p><a href="mailto:vkhk@vkhk.ee">vkhk@vkhk.ee</a></p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-unlock"></div>
                              <div class="list-details_text">
                                 <p>Maja avatud E-R 8-20</p>
                              </div><!--/list-details_text-->
                           </li>
                        </ul><!--/list-details-->
                        
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Kaart</div>
                     <div class="accordion-content">
								<a href="http://maps.google.com" class="map-wrapper">
									<div class="map" data-plugin="googleMaps" data-coords="59.3476599,26.3675338" data-icon="assets/imgs/mapIcon.png" data-zoom="15"></div>
									<img src="assets/imgs/placeholder-56.gif" />
								</a><!--/map-wrapper-->
							</div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Parkimine</div>
                     <div class="accordion-content">
                        <p>
									Amet proident litteris sed vidisse firmissimum si consequat, consequat id 
									senserit, et in elit tamen velit. Iudicem magna quem voluptate noster ubi tempor 
									ipsum e pariatur domesticarum. Quae commodo ea relinqueret, duis possumus 
									nostrud. Amet excepteur ita eram nulla ex minim ullamco eu multos quae. Arbitror 
									quid quo proident transferrem ea summis comprehenderit probant quis appellat do 
									labore e an legam doctrina ex te quorum noster do vidisse. Iis quem nam legam si 
									cillum incurreret ad senserit.
								</p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">Transport</div>
                     <div class="accordion-content">
                        <p>
									Amet proident litteris sed vidisse firmissimum si consequat, consequat id 
									senserit, et in elit tamen velit. Iudicem magna quem voluptate noster ubi tempor 
									ipsum e pariatur domesticarum. Quae commodo ea relinqueret, duis possumus 
									nostrud. Amet excepteur ita eram nulla ex minim ullamco eu multos quae. Arbitror 
									quid quo proident transferrem ea summis comprehenderit probant quis appellat do 
									labore e an legam doctrina ex te quorum noster do vidisse. Iis quem nam legam si 
									cillum incurreret ad senserit.
								</p>
								
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
						
                  
               </div><!--/accordion-->
               
            </div><!--/block-->
            
            <div class="block sm-show">
               <h2 class="block-title">Võta meiega ühendust</h2>
               
               <form>
               <div class="row">
                  <div class="col-12">
                     <div class="form-item form-item_half">
                        <div class="form-item_title">Ees- ja perekonnanimi: *</div>
                        <input type="text" />
                     </div><!--/form-item-->
                  </div><!--/col-12-->
                  
                  <div class="col-12">
                     <div class="form-item form-item_half">
                        <div class="form-item_title">E-mail: *</div>
                        <input type="text" />
                     </div><!--/form-item-->
                  </div><!--/col-12-->
                  
                  <div class="col-12">
                     <div class="form-item">
                        <div class="form-item_title">Sõnum: *</div>
                        <textarea></textarea>
                        <div class="form-item_disclaimer">* märgitud väljad on kohustuslikud</div>
                     </div><!--/form-item-->
                  </div><!--/col-12-->

                  
                  <div class="col-12">
                     <button class="btn btn-filled sm-stretch">Saada</button>
                  </div><!--/col-12-->
                  
               </div><!--/row-->
                  
                  
               </form>
            </div><!--/block-->
            
         </div><!--/col-3-->
      </div><!--/row-->
      
   </div><!--/inline-->
   include "modules/footer.html"
   
</div><!--/wrapper-->

include "modules/documentEnd.html"