include "modules/head.html"

<div class="wrapper">
   
   include "modules/header.html"
   
   <div class="inline">
      
      <div class="row">
         <div class="col-12">
            
            <div class="block">
               
               <h1 class="block-title">Logi sisse</h1>
               <div class="row">
                  <div class="col-6 sm-12 col-border-after sm-hide">
                     <div class="login-block">
                        <h1>Logi sisse ID-kaardiga</h1>
                        <form>
                           <div class="form-item">
                              <div class="form-item_title">Kasutajatunnus:*</div>
                              <input type="text" />
										<div class="form-item_disclaimer">* märgitud väljad on kohustuslikud</div>
                           </div><!--/form-item-->
                           <button type="submit" class="btn btn-filled sm-stretch">Logi sisse</button>
                        </form>
                     </div><!--/login-block-->
                  </div><!--/col-6-->
                  <div class="col-6 sm-12">
                     <div class="login-block">
                        <h1>Logi sisse Mobiil-ID-ga</h1>
                        <form>
                           <div class="form-item">
                              <div class="form-item_title">Kasutajatunnus:*</div>
                              <input type="text" />
										<div class="form-item_disclaimer">* märgitud väljad on kohustuslikud</div>
                           </div><!--/form-item-->
                           <button type="submit" class="btn btn-filled sm-stretch">Logi sisse</button>
                        </form>
                     </div><!--/login-block-->
                  </div><!--/col-6-->
               </div><!--/row-->
               
            </div><!--/block-->
            
         </div><!--/col-12-->
      </div><!--/row-->
      
   </div><!--/inline-->
   
   include "modules/footer.html"
   
</div><!--/wrapper-->

include "modules/documentEnd.html"