# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/default/settings.php
sites/hitsa-korg-2/themes/hitsa/
sites/gymn/themes/hitsa/
sites/hitsa-another
sites/hitsa4
sites/hitsa3
sites/all/themes/hitsa/static/package-lock\.json
\.vscode/settings\.json

\.idea/deployment\.xml

\.idea/hitsa-backend\.iml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/modules\.xml

\.idea/hitsa-backend\.iml

\.idea/modules\.xml

\.idea/php\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

\.idea/workspace\.xml___jb_tmp___

\.idea/

\.buildpath

\.project

\.settings/org\.eclipse\.php\.core\.prefs

\.settings/org\.eclipse\.wst\.common\.project\.facet\.core\.xml
