# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/default/settings.php
sites/hitsa-korg-2/themes/hitsa/
sites/gymn/themes/hitsa/
sites/hitsa-another
sites/hitsa4
sites/hitsa6
sites/gymn
sites/hitsa5
sites/hitsa3
sites/hitsa5
sites/hitsa-7
sites/*.ee
sites/all/themes/hitsa/static/package-lock\.json
\.vscode/settings\.json

\.idea/deployment\.xml

\.idea/hitsa-backend\.iml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/modules\.xml

\.idea/hitsa-backend\.iml

\.idea/modules\.xml

\.idea/php\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

\.idea/workspace\.xml___jb_tmp___

\.idea/

\.buildpath

\.project

\.settings/org\.eclipse\.php\.core\.prefs

\.settings/org\.eclipse\.wst\.common\.project\.facet\.core\.xml

sites/all/translations/admin_menu-7\.x-3\.0-rc5\.et\.po

sites/all/translations/admin_menu-7\.x-3\.0-rc5\.ru\.po

sites/all/translations/admin_views-7\.x-1\.6\.et\.po

sites/all/translations/admin_views-7\.x-1\.6\.ru\.po

sites/all/translations/adminimal_theme-7\.x-1\.24\.et\.po

sites/all/translations/adminimal_theme-7\.x-1\.24\.ru\.po

sites/all/translations/captcha-7\.x-1\.5\.et\.po

sites/all/translations/captcha-7\.x-1\.5\.ru\.po

sites/all/translations/ckeditor-7\.x-1\.18\.et\.po

sites/all/translations/ckeditor-7\.x-1\.18\.ru\.po

sites/all/translations/conditional_fields-7\.x-3\.0-alpha2\.et\.po

sites/all/translations/conditional_fields-7\.x-3\.0-alpha2\.ru\.po

sites/all/translations/ctools-7\.x-1\.12\.et\.po

sites/all/translations/ctools-7\.x-1\.12\.ru\.po

sites/all/translations/date-7\.x-2\.10\.et\.po

sites/all/translations/date-7\.x-2\.10\.ru\.po

sites/all/translations/devel-7\.x-1\.5\.et\.po

sites/all/translations/devel-7\.x-1\.5\.ru\.po

sites/all/translations/draggableviews-7\.x-2\.1\.et\.po

sites/all/translations/draggableviews-7\.x-2\.1\.ru\.po

sites/all/translations/drupal-7\.56\.et\.po

sites/all/translations/drupal-7\.56\.ru\.po

sites/all/translations/drupalforfirebug-7\.x-1\.4\.et\.po

sites/all/translations/drupalforfirebug-7\.x-1\.4\.ru\.po

sites/all/translations/email-7\.x-1\.3\.et\.po

sites/all/translations/email-7\.x-1\.3\.ru\.po

sites/all/translations/entity_translation-7\.x-1\.0-beta7\.et\.po

sites/all/translations/entity_translation-7\.x-1\.0-beta7\.ru\.po

sites/all/translations/entity-7\.x-1\.8\.et\.po

sites/all/translations/entity-7\.x-1\.8\.ru\.po

sites/all/translations/entityreference_autocreate-7\.x-1\.1\.et\.po

sites/all/translations/entityreference_autocreate-7\.x-1\.1\.ru\.po

sites/all/translations/entityreference-7\.x-1\.5\.et\.po

sites/all/translations/entityreference-7\.x-1\.5\.ru\.po

sites/all/translations/et_webform\.po

sites/all/translations/facetapi-7\.x-1\.5\.et\.po

sites/all/translations/facetapi-7\.x-1\.5\.ru\.po

sites/all/translations/features-7\.x-2\.10\.et\.po

sites/all/translations/features-7\.x-2\.10\.ru\.po

sites/all/translations/field_group-7\.x-1\.5\.et\.po

sites/all/translations/field_group-7\.x-1\.5\.ru\.po

sites/all/translations/file_entity-7\.x-2\.4\.et\.po

sites/all/translations/file_entity-7\.x-2\.4\.ru\.po

sites/all/translations/geocoder-7\.x-1\.3\.et\.po

sites/all/translations/geocoder-7\.x-1\.3\.ru\.po

sites/all/translations/geolocation-7\.x-1\.6\.et\.po

sites/all/translations/geolocation-7\.x-1\.6\.ru\.po

sites/all/translations/geophp-7\.x-1\.7\.ru\.po

sites/all/translations/i18n-7\.x-1\.18\.et\.po

sites/all/translations/i18n-7\.x-1\.18\.ru\.po

sites/all/translations/image_url_formatter-7\.x-1\.4\.et\.po

sites/all/translations/image_url_formatter-7\.x-1\.4\.ru\.po

sites/all/translations/l10n_update-7\.x-2\.2\.et\.po

sites/all/translations/l10n_update-7\.x-2\.2\.ru\.po

sites/all/translations/link-7\.x-1\.4\.et\.po

sites/all/translations/link-7\.x-1\.4\.ru\.po

sites/all/translations/media_vimeo-7\.x-2\.1\.et\.po

sites/all/translations/media_vimeo-7\.x-2\.1\.ru\.po

sites/all/translations/media_youtube-7\.x-3\.5\.et\.po

sites/all/translations/media_youtube-7\.x-3\.5\.ru\.po

sites/all/translations/media-7\.x-2\.x\.et\.po

sites/all/translations/media-7\.x-2\.x\.ru\.po

sites/all/translations/menu_reference-7\.x-1\.2\.et\.po

sites/all/translations/menu_reference-7\.x-1\.2\.ru\.po

sites/all/translations/module_filter-7\.x-2\.1\.et\.po

sites/all/translations/module_filter-7\.x-2\.1\.ru\.po

sites/all/translations/override_node_options-7\.x-1\.13\.et\.po

sites/all/translations/override_node_options-7\.x-1\.13\.ru\.po

sites/all/translations/paragraphs-7\.x-1\.0-rc5\.et\.po

sites/all/translations/paragraphs-7\.x-1\.0-rc5\.ru\.po

sites/all/translations/pathauto-7\.x-1\.3\.et\.po

sites/all/translations/pathauto-7\.x-1\.3\.ru\.po

sites/all/translations/recaptcha-7\.x-2\.2\.et\.po

sites/all/translations/recaptcha-7\.x-2\.2\.ru\.po

sites/all/translations/search_api_db-7\.x-1\.6\.et\.po

sites/all/translations/search_api_db-7\.x-1\.6\.ru\.po

sites/all/translations/search_api-7\.x-1\.22\.et\.po

sites/all/translations/search_api-7\.x-1\.22\.ru\.po

sites/all/translations/simple_mail-7\.x-1\.1\.ru\.po

sites/all/translations/tablefield-7\.x-3\.1\.et\.po

sites/all/translations/tablefield-7\.x-3\.1\.ru\.po

sites/all/translations/term_reference_tree-7\.x-1\.10\.et\.po

sites/all/translations/term_reference_tree-7\.x-1\.10\.ru\.po

sites/all/translations/token-7\.x-1\.7\.et\.po

sites/all/translations/token-7\.x-1\.7\.ru\.po

sites/all/translations/variable-7\.x-2\.5\.et\.po

sites/all/translations/variable-7\.x-2\.5\.ru\.po

sites/all/translations/views_bulk_operations-7\.x-3\.4\.et\.po

sites/all/translations/views_bulk_operations-7\.x-3\.4\.ru\.po

sites/all/translations/views-7\.x-3\.18\.et\.po

sites/all/translations/views-7\.x-3\.18\.ru\.po

sites/all/translations/webform_localization-7\.x-4\.10\.et\.po

sites/all/translations/webform_localization-7\.x-4\.10\.ru\.po

sites/all/translations/webform-7\.x-4\.15\.et\.po

sites/all/translations/webform-7\.x-4\.15\.ru\.po
