# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/hgymn\.lndo\.site/

sites/hgymn2\.lndo\.site/

sites/hkutse\.lndo\.site/
