include "modules/head.html"

<div class="wrapper">

  include "modules/header.html"

  <div class="inline">

    <div class="row">
      <div class="col-12">

        <div class="block">

          <h2 class="block-title">Erialad</h2>

          <div class="row-spacer-xs"></div>
          <div class="row">
            <div class="col-8 sm-12">
              <article>
                <div class="intro">
                  <p>Lorem ipsum dolor sit amet, autem aperiam posidonium pri cu, mei at quot sale graecis. Ea quem
                    erant pro, mea cu utroque accusam. An liber errem volumus vix, ei usu aeterno minimum. Tale nemore
                    ut nec, ne impedit blandit vituperatoribus nam. Cu putent alterum eleifend has. Tantas pertinacia
                    consetetur eam eu, est veri constituam ei.</p>
                </div>
                <!--/intro-->
                <p>Qui in cibo elitr efficiendi, an commune mentitum imperdiet eam. Ei disputando consequuntur sed, at
                  autem denique eam. At option mediocritatem nec, sit eu iudico philosophia, per ea facer solet. Augue
                  nonumy in nec, vis case duis diceret no. Congue inermis cu mei, mea at discere euismod, an vix laudem
                  luptatum reprehendunt.</p>
                <div class="hidden-content" data-plugin="showMore">
                  <div class="text-center">
                    <a href="" class="link" data-anchor>Vaata rohkem<span class="before-arrow_down"></span></a>
                  </div><!--/text-center-->
                  <div class="hidden-container" data-container>
                      <table style="width:500px" cellspacing="1" cellpadding="1" border="1">
                          <tbody>
                          <tr>
                          <td colspan="3">&nbsp;</td>
                          </tr>
                          <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          </tr>
                          <tr>
                          <td colspan="1" rowspan="2">&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          </tr>
                          <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          </tr>
                          <tr>
                          <td colspan="1" rowspan="2">&nbsp;</td>
                          <td>&nbsp;</td>
                          <td colspan="1" rowspan="2">&nbsp;</td>
                          </tr>
                          <tr>
                          <td>&nbsp;</td>
                          </tr>
                          <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          </tr>
                          </tbody>
                          </table>
                  </div><!--/hidden-container-->
                </div><!--/showMore-->
              </article>
            </div>
            <!--/col-8-->
            <div class="col-4 sm-12 sm-hide">

              <figure>
                <img src="assets/tmp/object-1.jpg" alt="">
                <figcaption>Illustreeriv foto teksti juurde</figcaption>
              </figure>

            </div>
            <!--/col-4-->
          </div>
          <!--/row-->

        </div>
        <!--/block-->



        <div class="block no-padding" id="main-block" data-plugin="checkHashScroll">
          <div class="accordion sm-show no-print" data-plugin="accordion" data-allClosed="true">
            <div class="accordion-entry">
              <div class="accordion-title">Veel erialasid</div>
              <div class="accordion-content">
                <ul class="side-menu" data-plugin="dropdownMenu">
                  <li class="active"><a href="javascript:void(0);">Toitlustus</a>
                    <ul>
                      <li><a href="">Abikokk</a></li>
                      <li class="active"><a href="">Toitlustusteenindus</a></li>
                      <li><a href="">Toitlustuskorraldus</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Turism ja majutus</a>
                    <ul>
                      <li><a href="">Abikokk</a></li>
                      <li><a href="">Toitlustusteenindus</a></li>
                      <li><a href="">Toitlustuskorraldus</a></li>
                      <li><a href="">Abikokk</a></li>
                      <li><a href="">Toitlustusteenindus</a></li>
                      <li><a href="">Toitlustuskorraldus</a></li>
                      <li><a href="">Abikokk</a></li>
                    </ul>
                  </li>
                  <li><a href="">Kaubandus</a></li>
                  <li><a href="">Äri</a></li>
                  <li><a href="">Puhastusteenindus</a></li>
                  <li><a href="">Mehhatroonika</a></li>
                  <li><a href="">Metall</a></li>
                  <li><a href="">Ehitus</a></li>
                  <li><a href="">IT</a></li>
                  <li><a href="">Puit</a></li>
                </ul>
              </div>
              <!--/accordion-content-->

            </div>
            <!--/accordion-entry-->
            <div class="row-spacer-xs"></div>
          </div>
          <!--/accordion-->
          <div class="row">
            <div class="col-3 d-flex sm-hide no-print">
              <ul class="side-menu" data-plugin="dropdownMenu">
                <li><a>Toitlustus</a>
                </li>
                <li class="active">
                  <a href="javascript:void(0);">Lennuliiklusteenindus</a>
                  <ul>
                    <li><a href="http://localhost:8080/erialad.html#main-block">Abikokk</a></li>
                    <li><a href="">Toitlustusteenindus</a></li>
                    <li><a href="">Toitlustuskorraldus</a></li>
                    <li><a href="">Abikokk</a></li>
                    <li><a href="">Toitlustusteenindus</a></li>
                    <li><a href="">Toitlustuskorraldus</a></li>
                    <li><a href="">Abikokk</a></li>
                  </ul>
                </li>
                <li><a href="">Kaubandus</a></li>
                <li><a href="">Äri</a></li>
                <li><a href="">Puhastusteenindus</a></li>
                <li><a href="">Mehhatroonika</a></li>
                <li><a href="">Metall</a></li>
                <li><a href="">Ehitus</a></li>
                <li><a href="">IT</a></li>
                <li><a href="">Puit</a></li>
              </ul>
            </div>
            <!--/col-3-->
            <div class="col-9 sm-12">
              <article>

                <h3 class="sm-block-title">Toitlustusteenindus
                  <span class="btn-bar align-right pull-right sm-hide">
                    <a href="javscript:void(0);" class="btn-circle before-share" data-plugin="share"></a>
                    <a href="javascript:window.print();" class="btn-circle before-print"></a>
                  </span>
                  <!--/button-row-->
                </h3>


                <h5 class="sm-alignment">Kirjeldus
                  <span class="btn-bar align-right pull-right sm-show">
                    <a href="javscript:void(0);" class="btn-circle before-share" data-plugin="share"></a>
                    <a href="javascript:window.print();" class="sm-hide btn-circle before-print"></a>
                  </span>
                  <!--/button-row-->
                </h5>

                <div class="table_wrapper sm-table-block" data-plugin="responsiveTable">
                  <table>
                    <thead class="sm-hide">
                      <tr>
                        <th style="width: 25%;">Õppeliik dsf asdf sad fasd dsf <span class="before-question-circle"
                            title="Õppeliigi apitekst.Õppeliigi apitekst.Õppeliigi apitekst.Õppeliigi apitekst."></span>
                        </th>
                        <th style="width: 25%;">Õppevorm</th>
                        <th style="width: 25%;">Eeldus alustamiseks</th>
                        <th style="width: 25%;">Õppeaeg</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span class="sm-show table-block-title">Õppeliik</span>Kutsekeskharidusõpe</td>
                        <td><span class="sm-show table-block-title">Õppevorm</span>Statsionaarne õpe</td>
                        <td><span class="sm-show table-block-title">Eeldus alustamiseks</span>Põhiharidusega või
                          vähemalt 22-aastane põhihariduseta</td>
                        <td><span class="sm-show table-block-title">Õppeaeg</span>3 aastat</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--/table-wrapper-->

                <p>Õpingute lõppedes sooritatakse kelneri 4. taseme kutseeksam</p>
                <p>Tule õpi praktiline eriala põhihariduse baasil, millest saad täiendust igapäevatoimetus-tesse! Sinu
                  teadmised täienevad toiduvalmistamise, joogiõpetuse ning restorani-teeninduse praktiliste oskuste
                  võrra!</p>
                <p>Kelner-ettekandja on klienditeenindaja toitlustusteenust pakkuvas ettevõttes (restoran, kohvik, pubi,
                  ööklubi, klubi, peoteenindusfirma).</p>
                <p>Kelner-ettekandja on firma visiitkaart – neil on oluline roll, et ettevõte pälviks klientide usalduse
                  ja heakskiidu.</p>

                <h5>Töökohad tulevikus</h5>
                <p>Antud eriala lõpetades saab töötada järgmistel ametikohtadel:</p>

                <ul class="bullet-list_article">
                  <li>Vahetuse ülem<span class="before-question-circle"
                      title="Tule õpi praktiline eriala põhihariduse baasil, millest saad täiendust."></span></li>
                  <li>Teenindusjuht<span class="before-question-circle"
                      title="Natuke teistsugune tekst mis aitab kasutajal asju paremini mõista. Võimalik, et siia kirjutame mingi väääääääääääääga pika teksti ja vaatame kuidas see käitub. Natuke teistsugune tekst mis aitab kasutajal asju paremini mõista. Võimalik, et siia kirjutame mingi väääääääääääääga pika teksti ja vaatame kuidas see käitub. Natuke teistsugune tekst mis aitab kasutajal asju paremini mõista. Võimalik, et siia kirjutame mingi väääääääääääääga pika teksti ja vaatame kuidas see käitub. "></span>
                  </li>
                  <li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
                </ul>

                <div class="row-spacer"></div>

                <div class="row">
                  <div class="col-12 d-flex d-wrap">
                    <a class="link-circle" href="">
                      <span class="before-document"></span>
                      Rakendus-kava
                    </a>
                    <!--/link-circle-->
                    <a class="link-circle" href="">
                      <span class="before-document"></span>
                      Õppekava
                    </a>
                    <!--/link-circle-->
                  </div>
                  <!--/col-12-->
                </div>
                <!--/row-->

                <div class="row-spacer"></div>

                <div class="row print-flex">
                  <div class="col-6 sm-12">
                    <figure>
                      <img src="assets/tmp/object-1.jpg" alt="">
                      <figcaption>3. kursuse lõputöö</figcaption>
                    </figure>
                  </div>
                  <!--/col-6-->
                  <div class="col-6 sm-12">
                    <figure>
                      <img src="assets/tmp/object-1.jpg" alt="">
                      <figcaption>3. kursuse lõputöö</figcaption>
                    </figure>
                  </div>
                  <!--/col-6-->
                </div>
                <!--/row-->

                <p><b>Tervislik Lõuna OÜ</b></p>
                <ul class="list-details">
                  <li>
                    <div class="before-home"></div>
                    <div class="list-details_text">
                      <p><a href="www.tervisliklouna.ee" target="_blank">www.tervisliklouna.ee</a></p>
                    </div>
                    <!--/list-details_text-->
                  </li>
                  <li>
                    <div class="before-envelope"></div>
                    <div class="list-details_text">
                      <p><a href="mailto:tervisliklouna@toitlustus.ee">tervisliklouna@toitlustus.ee</a></p>
                    </div>
                    <!--/list-details_text-->
                  </li>
                  <li>
                    <div class="before-phone"></div>
                    <div class="list-details_text">
                      <p>+372 78 50 800</p>
                    </div>
                    <!--/list-details_text-->
                  </li>
                  <li>
                    <div class="before-location"></div>
                    <div class="list-details_text">
                      <p>Väimela, Võru vald, Võru maakond 65566 </p>
                    </div>
                    <!--/list-details_text-->
                  </li>
                </ul>
                <!--/list-details-->
                <span class="article-date"><i>Viimati muudeti: 02.10.2017</i></span>
              </article>
            </div>
            <!--/col-9-->
          </div>
          <!--/row-->
        </div>
        <!--/block-->

      </div>
      <!--/col-12-->
    </div>
    <!--/row-->

  </div>
  <!--/inline-->

  include "modules/footer.html"

</div>
<!--/wrapper-->

include "modules/documentEnd.html"