include "modules/head.html"

<div class="wrapper">
   
   include "modules/header.html"
   
   include "modules/hero.html"
   
   <div class="inline">
      
      <div class="row">
         <div class="col-12">
            
            <div class="block sm-show">
               <h3 class="block-title">Kiirlingid</h3>
               <a href="" class="btn btn-stretch">Uudised</a>
               <a href="" class="btn btn-stretch">Galerii</a>
               <a href="" class="btn btn-stretch">Tunniplaan</a>
               <a href="" class="btn btn-stretch">Majajuht</a>
               <a href="" class="btn btn-stretch">Toitlustamine</a>
            </div><!--/block-->
            
            <div class="block sm-show">
               <h3 class="block-title">Valdkonnad</h3>
               
               include "modules/hero-mini.html"
               
            </div><!--/block sm-show-->
            
            <div class="block bg-highlight">
               <div class="row">
                  <div class="col-9 sm-12 vertical-center">
                     <h2>Sisseastumisdokumentide vastuvõtt!</h2>
                  </div><!--/col-9-->
                  <div class="col-3 sm-12">
                     <a href="" class="btn btn-inverted pull-right sm-stretch">Vaata lähemalt</a>
                  </div><!--/col-3-->
               </div><!--/row-->
            </div><!--/block-->
         </div><!--/col-12-->
      </div><!--/row-->
      
      <div class="row">
         <div class="col-9 sm-12">
				
            <div class="block">
					<h2 class="block-title sm-borderless" title="Litteris dolor tamen ullamco dolore. Pariatur praesentibus ab vidisse. Consequat aliqua est incididunt illustriora, fore an litteris. Si sunt do nisi. Ubi consequat ut aliquip, deserunt ubi ipsum cupidatat, eiusmod sed laborum, quibusdam et legam, do summis incididunt ullamco, ut malis incurreret comprehenderit, illum ullamco te incurreret, veniam nescius est quid duis. Dolor do incurreret ab vidisse ab singulis ubi deserunt cillum hic offendit eruditionem id ubi multos esse quis incurreret, consequat praesentibus ex deserunt ubi occaecat fore magna de nisi hic quis incurreret quo laboris, velit ne senserit in quae. Amet nescius praetermissum a fabulas quid enim aut quis an enim an sed elit expetendis de probant iis expetendis de voluptate se noster, amet nam nostrud ut quorum expetendis ita fabulas se sed quamquam non incididunt.">Uudised</h2>
               
               <div class="row">
                  <div class="col-6 sm-12">
                     
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Võrumaa Kutsehariduskeskus osales hariduskonverentsil pikem pealkiri ja nii edasi</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                     
                  </div><!--/col-6-->
                  <div class="col-6 sm-12">
                     <a href="" class="object no-fade">
                        <span class="object-inner">
									<span class="object-image">
										<span class="object-placeholder">
											<span><img src="assets/tmp/logo.png" /></span>
										</span><!--/object-placeholder-->
										<img alt="" src="assets/imgs/placeholder-56.gif" />
									</span><!--/object-image-->
                           <span class="object-content">
                              <span class="object-title">Lõpuaktuste ajakava</span>
                              <span class="object-footer">
                                 <span class="before-calendar">15. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-6-->
               </div><!--/row-->
               
               <div class="row-spacer sm-hide"></div>
               
               <div class="row sm-hide">
                  <div class="col-6">
                     <a href="" class="object object-horizontal">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Tsentri teemahommik “Renderdamine ja/või tootefotod?”</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-6-->
                  <div class="col-6">
                     <a href="" class="object object-horizontal">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-2.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Kutseõppeasutuste suvepäevad 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">15. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-6-->
                  <div class="col-6">
                     <a href="" class="object object-horizontal">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-2.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Välispraktika Ventspilsis</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-6-->
                  <div class="col-6">
                     <a href="" class="object object-horizontal">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Kutseõpetajad tutvusid Soomes reformieelse kutseõppega</span>
                              <span class="object-footer">
                                 <span class="before-calendar">15. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-6-->
               </div><!--/row-->
               
               <div class="row-spacer"></div>
               
               <div class="row">
                  <div class="col-12">
                     <a href="" class="btn sm-stretch">Kõik uudised</a>
                  </div><!--/col-12-->
               </div><!--/row-->
            </div><!--/block-->
            
            
            <div class="block" data-plugin="tabs">
               <h2 class="block-title">Sündmuste kalender</h2>
					
               <div class="row pull-up">
                  <div class="col-12">
                     <a href="javascript:void(0);" data-target="tab-1" class="link-tab">Õppetöö</a><a href="javascript:void(0);" data-target="tab-2" class="link-tab">Huvitegevus</a>
                  </div><!--/col-12-->
               </div><!--/row-->

               <div data-tab="tab-1">
                  <div class="row">
                     <div class="col-6 sm-12">
                        <div class="object object-event">
                           <div class="object-inner">
                              <a href="" class="object-date">
                                 <span class="object-date_day">23</span>
                                 <span class="object-date_month">Veebruar</span>
                              </a><!--/object-date-->
                              <span class="object-content">
                                 <a href="" class="object-title">EV aastapäeva aktus (Pealkiri võib teinekord olla ka pikem)</a>
                                 <span class="object-footer">
                                    Koht: Aula, Kell 10:00<br />
                                    <a href="kalender-lisa.html" data-plugin="modal" class="before-calendar">Lisa kalendrisse</a>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </div><!--/object-inner-->
                        </div><!--/object-->
                     </div><!--/col-6-->
                     
                     <hr class="sm-show" />
                     
                     <div class="col-6 sm-12">
                        <div class="object object-event">
                           <div class="object-inner">
                              <a href="" class="object-date">
                                 <span class="object-date_day">24</span>
                                 <span class="object-date_month">Veebruar</span>
                              </a><!--/object-date-->
                              <span class="object-content">
                                 <a href="" class="object-title">Sündmuse regisreerimise näide</a>
                                 <span class="object-footer">
                                    Koht: Aula, Kell 10:00<br />
                                    <a href="koolitus-registreeri.html" data-plugin="modal" class="before-register" data-modalClass="size-m">Registreeri</a>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </div><!--/object-inner-->
                        </div><!--/object-->
                     </div><!--/col-6-->

                     <hr />

                     <div class="col-6 sm-12">
                        <div class="object object-event">
                           <div class="object-inner">
                              <a href="" class="object-date">
                                 <span class="object-date_day">25</span>
                                 <span class="object-date_month">Veebruar</span>
                              </a><!--/object-date-->
                              <span class="object-content">
                                 <a href="" class="object-title">EV aastapäeva aktus (Pealkiri võib teinekord olla ka pikem)</a>
                                 <span class="object-footer">
                                    Koht: Aula, Kell 10:00<br />
                                    <a href="kalender-lisa.html" data-plugin="modal" class="before-calendar">Lisa kalendrisse</a>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </div><!--/object-inner-->
                        </div><!--/object-->
                     </div><!--/col-6-->
                     
                     <hr class="sm-show" />
                     
                     <div class="col-6 sm-12">
                        <div class="object object-event">
                           <div class="object-inner">
                              <a href="" class="object-date">
                                 <span class="object-date_day">26</span>
                                 <span class="object-date_month">Veebruar</span>
                              </a><!--/object-date-->
                              <span class="object-content">
                                 <a href="" class="object-title">EV aastapäeva aktus</a>
                                 <span class="object-footer">
                                    Koht: Aula, Kell 10:00<br />
                                    <a href="kalender-lisa.html" data-plugin="modal" class="before-calendar">Lisa kalendrisse</a>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </div><!--/object-inner-->
                        </div><!--/object-->
                     </div><!--/col-6-->
                  </div><!--/row-->


                  <hr />

                  <div class="row-spacer-xs"></div>

                  <div class="row">
                     <div class="col-12">
                        <a href="" class="btn btn-filled sm-stretch">Õppetöö kalender</a>
                     </div><!--/col-12-->
                  </div><!--/row-->
               </div><!--/data-tab-1-->
               
               <div data-tab="tab-2">

                  <div class="row">

                     <div class="col-6 sm-12">
                        <div class="object object-event">
                           <div class="object-inner">

                              <a href="" class="object-date">
                                 <span class="object-date_day">23</span>
                                 <span class="object-date_month">Veebruar</span>
                              </a><!--/object-date-->
                              <span class="object-content">
                                 <a href="" class="object-title">EV aastapäeva aktus</a>
                                 <span class="object-footer">
                                    Koht: Aula, Kell 10:00<br />
                                    <a href="kalender-lisa.html" data-plugin="modal" class="before-calendar">Lisa kalendrisse</a>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </div><!--/object-inner-->
                        </div><!--/object-->
                     </div><!--/col-6-->

                     <hr class="sm-show" />
                     
                     <div class="col-6 sm-12">
                        <div class="object object-event">
                           <div class="object-inner">

                              <a href="" class="object-date">
                                 <span class="object-date_day">23</span>
                                 <span class="object-date_month">Veebruar</span>
                              </a><!--/object-date-->
                              <span class="object-content">
                                 <a href="" class="object-title">Huvitegevuse tab - EV aastapäeva aktus</a>
                                 <span class="object-footer">
                                    Koht: Aula, Kell 10:00<br />
                                    <a href="kalender-lisa.html" data-plugin="modal" class="before-calendar">Lisa kalendrisse</a>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </div><!--/object-inner-->
                        </div><!--/object-->
                     </div><!--/col-6-->

                     <hr />

                     <div class="col-6 sm-12">
                        <div class="object object-event">
                           <div class="object-inner">

                              <a href="" class="object-date">
                                 <span class="object-date_day">23</span>
                                 <span class="object-date_month">Veebruar</span>
                              </a><!--/object-date-->
                              <span class="object-content">
                                 <a href="" class="object-title">EV aastapäeva aktus</a>
                                 <span class="object-footer">
                                    Koht: Aula, Kell 10:00<br />
                                    <a href="kalender-lisa.html" data-plugin="modal" class="before-calendar">Lisa kalendrisse</a>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </div><!--/object-inner-->
                        </div><!--/object-->
                     </div><!--/col-6-->
                     
                     <hr class="sm-show" />
                     
                     <div class="col-6 sm-12">
                        <div class="object object-event">
                           <div class="object-inner">

                              <a href="" class="object-date">
                                 <span class="object-date_day">23</span>
                                 <span class="object-date_month">Veebruar</span>
                              </a><!--/object-date-->
                              <span class="object-content">
                                 <a href="" class="object-title">Huvitegevuse tab - EV aastapäeva aktus</a>
                                 <span class="object-footer">
                                    Koht: Aula, Kell 10:00<br />
                                    <a href="kalender-lisa.html" data-plugin="modal" class="before-calendar">Lisa kalendrisse</a>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </div><!--/object-inner-->
                        </div><!--/object-->
                     </div><!--/col-6-->
                  </div><!--/row-->

                  <hr />

                  <div class="row-spacer"></div>

                  <div class="row">
                     <div class="col-12">
                        <a href="" class="btn btn-filled sm-stretch">Huvitegevuse kalender</a>
                     </div><!--/col-12-->
                  </div><!--/row-->
               </div><!--/tab-2-->
               
            </div><!--/block-->
            
            <div class="block sm-hide">
               <h2 class="block-title sm-borderless">Galerii</h2>
               
               <div class="row">
                  <div class="col-12">
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni 2017</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-12-->
               </div><!--/row-->
               
               <div class="row-spacer"></div>
               
               <div class="row">
                  <div class="col-6 sm-12">
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Eesti Vabariigi 99-aastapäeva aktus</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni 2017</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-6-->
                  <div class="col-6 sm-12">
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Jõulunädal 2016</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni 2017</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-6-->
						
               </div><!--/row-->
               
					<div class="row-spacer-m"></div>
					
               <div class="row">
                  <div class="col-12">
                     <a href="" class="btn sm-stretch">Kõik galeriid</a>
                  </div><!--/col-12-->
               </div><!--/row-->
               
            </div><!--/block-->
            
         </div><!--/col-9-->
         
         <div class="col-3 sm-12">
            <div class="block block-narrow" data-plugin="tabs">
               <h2 class="block-title">Teenused</h2>
               
               <div class="row pull-up">
                  <div class="col-12">
                     <a href="javascript:void(0);" data-target="tab-1" class="link-tab">Teenused</a><a href="javascript:void(0);" data-target="tab-2" class="link-tab">Koolitused</a>
                  </div><!--/col-12-->
               </div><!--/row-->
					
               <div class="row-spacer-xs"></div>
					
               <div data-tab="tab-1">
                  <h5 class="size-large">Avalikud teenused</h5>
                  
                  <ul class="bullet-links">
                     <li><a href="">Ruumide rent</a></li>
                     <li><a href="">Juuksur</a></li>
                     <li><a href="">Kohvik</a></li>
                     <li><a href="">Catering</a></li>
                     
                     <li data-show="bullet-list-1"><a href="">Ruumide rent</a></li>
                     <li data-show="bullet-list-1"><a href="">Juuksur</a></li>
                     <li data-show="bullet-list-1"><a href="">Kohvik</a></li>
                     <li data-show="bullet-list-1"><a href="">Catering</a></li>
                     
                     <li>
                        <div data-toggle="bullet-list-1" class="bullet-list-show_more"><span data-hide="bullet-list-1" class="after-arrow_down">Näita rohkem (4)</span><span data-show="bullet-list-1" class="after-arrow_up">Näita vähem</span></div>
                     </li>
                     
                  </ul>
                  
                  <h5 class="size-large">Teenused ettevõtjale</h5>
                  <ul class="bullet-links">
                     <li><a href="">Konsultatsioon</a></li>
                     <li><a href="">Arendusteenus</a></li>
                     <li><a href="">Uuringuteenus</a></li>
                     <li><a href="">Laboriteenus</a></li>
                  </ul>

               </div><!--/data-tab-1-->
               <div data-tab="tab-2">
                  <div class="row">
                     <div class="col-12">
                        <a href="" class="object object-small object-horizontal">
                           <span class="object-inner">
                              <span class="object-content">
                                 <span class="object-title">Tööharjutus</span>
                                 <span class="object-footer">
                                    <span class="before-calendar">21.08 - 31.11</span>
                                    <span class="before-money">3000 €</span>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </span><!--/object-inner-->
                        </a><!--/object-->
                     </div><!--/col-12-->
                     <hr />
                     <div class="col-12">
                        <a href="" class="object object-small object-horizontal">
                           <span class="object-inner">
                              <span class="object-content">
                                 <span class="object-title">Täienduskoolitus matka-juhtidele</span>
                                 <span class="object-footer">
                                    <span class="before-calendar">21.08 - 31.11</span>
                                    <span class="before-money">3000 €</span>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </span><!--/object-inner-->
                        </a><!--/object-->
                     </div><!--/col-12-->
                     <hr />
                     <div class="col-12">
                        <a href="" class="object object-small object-horizontal">
                           <span class="object-inner">
                              <span class="object-content">
                                 <span class="object-title">Eesti keel muukeelsetele teenindajatele</span>
                                 <span class="object-footer">
                                    <span class="before-calendar">21.08 - 31.11</span>
                                    <span class="before-money">3000 €</span>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </span><!--/object-inner-->
                        </a><!--/object-->
                     </div><!--/col-12-->
                     <hr />
                     <div class="col-12">
                        <a href="" class="object object-small object-horizontal">
                           <span class="object-inner">
                              <span class="object-content">
                                 <span class="object-title">Kaupade väljapanek – täienduskoolitus müüjatele</span>
                                 <span class="object-footer">
                                    <span class="before-calendar">21.08 - 31.11</span>
                                    <span class="before-money">3000 €</span>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </span><!--/object-inner-->
                        </a><!--/object-->
                     </div><!--/col-12-->
                     <hr />
                     <div class="col-12">
                        <a href="" class="object object-small object-horizontal">
                           <span class="object-inner">
                              <span class="object-content">
                                 <span class="object-title">Inglise keele kursus teenindustöötajatele (A2) </span>
                                 <span class="object-footer">
                                    <span class="before-calendar">21.08 - 31.11</span>
                                    <span class="before-money">3000 €</span>
                                 </span><!--/object-footer-->
                              </span><!--/object-content-->
                           </span><!--/object-inner-->
                        </a><!--/object-->
                     </div><!--/col-12-->
                     
                     <hr />
                     
                     <div class="col-12 col-margin">
                        <a href="" class="btn btn-filled btn-stretch">Otsi</a>
                     </div><!--/col-12-->
                     
                  </div><!--/row-->
               </div><!--/data-tab-->
               
            </div><!--/block-->
            
            <div class="block block-narrow">
               <h2 class="block-title sm-borderless">Meie lood</h2>
               
               <div class="row pull-up">
                  <div class="col-12">
                     <a href="" class="object object-small">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Kooli renoveerimise lugu</span>
                              <span class="object-footer">
                                 <span class="before-user">Mari Tamm</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-12-->
                  
                  <div class="col-12">
                     <a href="" class="object object-small">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Kooli renoveerimise lugu</span>
                              <span class="object-footer">
                                 <span class="before-user">Mari Tamm</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-12-->
                  
                  <div class="col-12 col-margin">
                     <a href="" class="btn btn-stretch">Kõik lood</a>
                  </div><!--/col-12-->
               </div><!--/row-->
               
            </div><!--/block-->
            
            <div class="block block-narrow sm-hide">
               <h2 class="block-title sm-borderless">Tunnustused</h2>
               
               <div class="row  pull-up">
                  <div class="col-12">
                     <a href="" class="object-logo" title="Nimetus"><img src="assets/tmp/logo-1.svg" alt="" /></a>
                  </div><!--/col-12-->
                  <div class="col-12">
                     <a href="" class="object-logo" title="Nimetus"><img src="assets/tmp/logo-1.svg" alt="" /></a>
                  </div><!--/col-12-->
               </div><!--/row-->
               
            </div><!--/block-->
            
            <!-- SOrry madis.... -->
            <div class="block sm-show">
               <h2 class="block-title sm-borderless">Galerii</h2>
               
               <div class="row">
                  <div class="col-12">
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni 2017</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-12-->
               </div><!--/row-->
               
               <div class="row-spacer"></div>
               
               <div class="row">
                  <div class="col-6 sm-12">
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Eesti Vabariigi 99-aastapäeva aktus</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni 2017</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-6-->
                  <div class="col-6 sm-12">
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif" /></span>
                           <span class="object-content">
                              <span class="object-title">Jõulunädal 2016</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni 2017</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-6-->
						
               </div><!--/row-->
					
               
               <div class="row">
                  <div class="col-12 sm-col-margin">
                     <a href="" class="btn sm-stretch">Kõik galeriid</a>
                  </div><!--/col-12-->
               </div><!--/row-->
               
            </div><!--/block-->
            
         </div><!--/col-3-->
      </div><!--/row-->
      
   </div><!--/inline-->
   
   include "modules/footer.html"
   
</div><!--/wrapper-->

include "modules/documentEnd.html"