include "modules/head.html"

<div class="wrapper">
   
   include "modules/header.html"
   
   <div class="inline">
      
      <div class="row">
         <div class="col-12">
            
            <div class="block" id="all">
               
               <h1 class="block-title">Galerii</h1>
               
               <form method="post" action="galerii.html">
               <div class="row">
                  <div class="col-12">
                     
                     <div class="btn-bar">
								<a href="#anchor=all" class="btn btn-xs btn-alternate active">Kõik</a>

								<a href="#anchor=2016-2017" class="btn btn-xs btn-alternate"><span class="sm-hide">2016/2017</span><span class="sm-show">2016/17</span></a>

								<a href="#anchor=2015-2016" class="btn btn-xs btn-alternate"><span class="sm-hide">2015/2016</span><span class="sm-show">2015/16</span></a>
                     </div><!--/btn-bar-->
                     
                  </div><!--/col-12-->
               </div><!--/row-->
               </form>
               
               <div class="row-spacer sm-hide"></div>
               <div class="row-spacer-xs sm-show"></div>
               
               <hr class="sm-show" />
               
               <div class="row">
                  <div class="col-12">
                     <h3 id="2016-2017"><span class="sm-hide">2016/2017</span><span class="sm-show">2016/17</span></h3>
                  </div><!--/col-12-->
               </div><!--/row-->
               
               <div class="row-spacer-xs sm-hide"></div>
               
               <div class="row row-vertical-xl">
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
               </div><!--/row-->
               
               <div class="row-spacer sm-hide"></div>
               <div class="row-spacer sm-hide"></div>
               <hr />
               <div class="row-spacer sm-hide"></div>
               
               <div class="row">
                  <div class="col-12">
                     <h3 id="2015-2016"><span class="sm-hide">2015/2016</span><span class="sm-show">2015/16</span></h3>
                  </div><!--/col-12-->
               </div><!--/row-->
               
               <div class="row-spacer-xs sm-hide"></div>
               
               <div class="row row-vertical-xl">
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object" data-plugin="modal" data-modal="gallery-7">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object" data-plugin="modal" data-modal="gallery-8">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object" data-plugin="modal" data-modal="gallery-9">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object" data-plugin="modal" data-modal="gallery-10">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object" data-plugin="modal" data-modal="gallery-11">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
                  <div class="col-4 sm-12">
                     <a href="galerii-single.html" class="object" data-plugin="modal" data-modal="gallery-12">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Kevadnädal 2017</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4-->
               </div><!--/row-->
               
               <div class="row">
                  <div class="col-12">
                     <ul class="paginator">
                        <li><a href="" class="before-arrow_left"></a></li>
                        <li><a href="">1</a></li>
                        <li class="active"><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li>...</li>
                        <li><a href="">6</a></li>
                        <li><a href="" class="before-arrow_right"></a></li>
                     </ul><!--/paginator-->
                  </div><!--/col-12-->
               </div><!--/row-->
               
            </div><!--/block-->
            
         </div><!--/col-12-->
      </div><!--/row-->
      
   </div><!--/inline-->
   
   include "modules/footer.html"
   
</div><!--/wrapper-->

include "modules/documentEnd.html"