include "modules/head.html"

<div class="wrapper">
   
   include "modules/header.html"
   
   <div class="inline">
      
      <div class="row">
         <div class="col-12">
            <div class="block" style="min-height:600px;">
               <div class="block-title">Lingid</div>
					
					<div class="row-spacer sm-show"></div>
               <div class="btn-bar">
                  <a href="esileht.html" class="btn" target="_blank">Esileht</a>
                  <a href="esileht-nrg.html" class="btn" target="_blank">Esileht (NRG)</a><br/>
						
                  <a href="kalender.html" class="btn" target="_blank">Kalender</a>
                  <a href="kalender-detailvaade.html" class="btn" target="_blank">Kalender - Detailvaade</a><br />
                  <a href="kontakt.html" class="btn" target="_blank">Kontakt</a><br />
                  <a href="uudised.html" class="btn" target="_blank">Uudised</a>
						<a href="uudised-detailvaade.html" class="btn" target="_blank">Uudised - Detailvaade</a><br />
                  
						<a href="toitlustus.html" class="btn" target="_blank">Toitlustus</a>
						<a href="teenused-toitlustamine.html" class="btn" target="_blank">Teenused - Toitlustamine</a><br />
                  
                  <a href="otsing.html" class="btn" target="_blank">Otsing</a><br />
						
                  <a href="erialad.html" class="btn" target="_blank">Erialad</a><br />
                  <a href="galerii.html" class="btn" target="_blank">Galerii</a><br />
                  <a href="sitemap.html" class="btn" target="_blank">Sisukaart</a><br />
                  <a href="log-in.html" class="btn" target="_blank">Logi sisse</a><br />
                  <a href="tekstiredaktor.html" class="btn" target="_blank">Tekstiredaktori stiilid</a>
                  
               </div><!--/btn-bar-->
            </div><!--/block-->
         </div><!--/col-12-->
      </div><!--/row-->
      
   </div><!--/inline-->
   
   include "modules/footer.html"
   
</div><!--/wrapper-->

include "modules/documentEnd.html"