include "modules/head.html"

<div class="wrapper">
   
   include "modules/header.html"
   
   <div class="inline">
      
      <div class="row">
         <div class="col-12">
            
            <div class="block">
               
               <h2 class="block-title">Sündmused</h2>
               
               <div class="row-spacer-xs sm-hide"></div>
               <div class="row">
                  <div class="col-12">
                     <article class="clearSpace">
								
								<div class="btn-bar align-right sm-show sm-pull_right">
									<a href="javscript:void(0);" class="btn-circle before-share" data-plugin="share"></a>
									<a href="javascript:window.print();" class="sm-hide btn-circle before-print"></a>
								</div><!--/button-row-->

								<h1 class="col-7 sm-12">EV aastapäeva aktus
									<span class="editor-info">
										<span class="before-calendar">21-24. juuni</span>
										<span class="before-tags">Õppetöö, huvitegevus</span>
									</span>
								</h1>
								
								<div class="row">
									<div class="col-7 sm-12">
                    <p> Lorem Ipsum on lihtsalt proovitekst, mida kasutatakse printimis- ja ladumistööstuses. See on olnud tööstuse põhiline proovitekst juba alates 1500. aastatest, mil tundmatu printija võttis hulga suvalist teksti, et teha trükinäidist. Lorem Ipsum ei ole ainult viis sajandit säilinud, vaid on ka edasi kandunud elektroonilisse trükiladumisse, jäädes sealjuures peaaegu muutumatuks. See sai tuntuks 1960. aastatel Letraset'i lehtede väljalaskmisega, ja hiljuti tekstiredaktoritega nagu Aldus PageMaker, mis sisaldavad erinevaid Lorem Ipsumi versioone.</p>
									</div><!--/col-8-->
									<div class="col-4 sm-12 col-offset-1 sm-offset-0">

										<div class="btn-bar align-right sm-hide">
											<a href="javscript:void(0);" class="btn-circle before-share" data-plugin="share"></a>
											<a href="javascript:window.print();" class="sm-hide btn-circle before-print"></a>
										</div><!--/button-row-->
										
										<div class="row-spacer-xl no-print sm-hide"></div>

										<figure>
										  <a href="assets/tmp/object-1.jpg" data-download="assets/tmp/object-1.jpg" data-plugin="modal" data-modal="mingi_pildi_ID" data-closeButton="Sulge" data-heading="Sündmused" data-title="Illustreeriv foto teenuse sisuteksti juurde"><img src="assets/tmp/object-1.jpg" alt=""></a>
										  <figcaption>Illustreeriv foto teenuse sisuteksti juurde</figcaption>
										</figure>
									</div><!--/col-4-->
								</div><!--/row-->
                        
                     </article>
                  </div><!--/col-12-->
               </div><!--/row-->
               
            </div><!--/block-->
            
         </div><!--/col-12-->
      </div><!--/row-->
      
   </div><!--/inline-->
   
   include "modules/footer.html"
   
</div><!--/wrapper-->

include "modules/documentEnd.html"