include "modules/head.html"

<div class="wrapper">
   
   include "modules/header.html"
   
   <div class="inline">
      <div class="row">
         <div class="col-12">
            
            <div class="block">
               
               <h1 class="block-title">Tekstiredaktori stiilid</h1>
               
               <div class="row">
                  <div class="col-12">
                     
                     <article>
                        <h1>Pealkiri H1</h1>
                        <h2>Pealkiri H2</h2>
                        <h3>Pealkiri H3</h3>
                        <h4>Pealkiri H4</h4>
                        <h5>Pealkiri H5</h5>
                        <p>Paragrahv - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nulla at lacus hendrerit sollicitudin quis in felis. Cras rhoncus quis diam vitae laoreet.</p>
                        <p><b>Paragrahv, Bold - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nulla at lacus hendrerit sollicitudin quis in felis. Cras rhoncus quis diam vitae laoreet.</b></p>
                        <p><i>Paragrahv, Italic - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nulla at lacus hendrerit sollicitudin quis in felis. Cras rhoncus quis diam vitae laoreet.</i></p>
                        <p class="highlight-1">Paragrahv, Highlight - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nulla at lacus hendrerit sollicitudin quis in felis. Cras rhoncus quis diam vitae laoreet.</p>
                        <p>Link teksti sees - <a href="">vanarahvasõna</a></p>
                        <p>Link teksti sees, Bold - <b><a href="">vanarahvasõna</a></b></p>
                        <p>Link teksti sees, Italic - <i><a href="">vanarahvasõna</a></i></p>
                        <p><a href="" class="btn">Nupp</a></p>
                        <div class="table_wrapper" data-plugin="responsiveTable">
                           <table>
                              <thead>
                                 <tr>
                                    <th></th>
                                    <th>Esmaspäev<br />27.02</th>
                                    <th>Teisipäev<br />28.02</th>
                                    <th>Kolmapäev<br />01.03</th>
                                    <th>Neljapäev<br />02.03</th>
                                    <th>Reede<br />03.03</th>
                                 </tr>
                              </thead>
                              <tbody>

                                 <tr>
                                    <td rowspan="2"><b>Koolitoit</b></td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                 </tr>
                                 <tr>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                 </tr>

                              </tbody>

                              <tbody>

                                 <tr>
                                    <td rowspan="2"><b>Taimetoit</b></td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                 </tr>
                                 <tr>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                 </tr>

                              </tbody>

                              <tbody>

                                 <tr>
                                    <td rowspan="2"><b>Laktoosi-<br />vaba</b></td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                 </tr>
                                 <tr>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                 </tr>

                              </tbody>
                           </table>
                        </div><!--/table-wrapper-->
                        <ul>
                           <li>Vahetuse ülem<span class="before-question-circle" title="Tule õpi praktiline eriala põhihariduse baasil, millest saad täiendust."></span></li>
                           <li>Teenindusjuht<span class="before-question-circle" title="Natuke teistsugune tekst mis aitab kasutajal asju paremini mõista. Võimalik, et siia kirjutame mingi väääääääääääääga pika teksti ja vaatame kuidas see käitub. Natuke teistsugune tekst mis aitab kasutajal asju paremini mõista. Võimalik, et siia kirjutame mingi väääääääääääääga pika teksti ja vaatame kuidas see käitub. Natuke teistsugune tekst mis aitab kasutajal asju paremini mõista. Võimalik, et siia kirjutame mingi väääääääääääääga pika teksti ja vaatame kuidas see käitub. "></span></li>
                           <li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
                        </ul>
								
								<ol>
                           <li>Vahetuse ülem<span class="before-question-circle" title="Tule õpi praktiline eriala põhihariduse baasil, millest saad täiendust."></span></li>
                           <li>Teenindusjuht<span class="before-question-circle" title="Natuke teistsugune tekst mis aitab kasutajal asju paremini mõista. Võimalik, et siia kirjutame mingi väääääääääääääga pika teksti ja vaatame kuidas see käitub. Natuke teistsugune tekst mis aitab kasutajal asju paremini mõista. Võimalik, et siia kirjutame mingi väääääääääääääga pika teksti ja vaatame kuidas see käitub. Natuke teistsugune tekst mis aitab kasutajal asju paremini mõista. Võimalik, et siia kirjutame mingi väääääääääääääga pika teksti ja vaatame kuidas see käitub. "></span></li>
                           <li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
									<li>Tippkelner<span class="before-question-circle" title="Lühike."></span></li>
                        </ol>
								
                     </article>
                     
                  </div><!--/col-12-->
               </div><!--/row-->
            </div><!--/block-->
            
         </div><!--/col-12-->
      </div><!--/row-->
   </div><!--/inline-->
   
   include "modules/footer.html"
   
</div><!--/wrapper-->

include "modules/documentEnd.html"