include "modules/head.html"

<div class="wrapper">
   
   include "modules/header.html"
   
   <div class="inline">
      
      <div class="row">
         <div class="col-12">
            
            <div class="block">
               
               <h2 class="block-title">Teenused</h2>
               
               <div class="row-spacer-xs"></div>
               <div class="row">
                  <div class="col-8 sm-12">
                     <article>
                        <div class="intro">
                           <p>Lorem ipsum dolor sit amet, autem aperiam posidonium pri cu, mei at quot sale graecis. Ea quem erant pro, mea cu utroque accusam. An liber errem volumus vix, ei usu aeterno minimum. Tale nemore ut nec, ne impedit blandit vituperatoribus nam. Cu putent alterum eleifend has. Tantas pertinacia consetetur eam eu, est veri constituam ei.</p>
                        </div><!--/intro-->
                        <p>Qui in cibo elitr efficiendi, an commune mentitum imperdiet eam. Ei disputando consequuntur sed, at autem denique eam. At option mediocritatem nec, sit eu iudico philosophia, per ea facer solet. Augue nonumy in nec, vis case duis diceret no. Congue inermis cu mei, mea at discere euismod, an vix laudem luptatum reprehendunt.</p>
                     </article>
                  </div><!--/col-8-->
                  <div class="col-4 sm-12 no-print">

                     <figure>
                       <img src="assets/tmp/object-1.jpg" alt="">
                       <figcaption>Illustreeriv foto teenuse sisuteksti juurde</figcaption>
                     </figure>
                     
                  </div><!--/col-4-->
               </div><!--/row-->
               
            </div><!--/block-->
            
            <div class="block no-padding" id="restoran" data-plugin="scrollIfID">
               <div class="row">
                  <div class="col-3 d-flex sm-hide no-print">
                     <ul class="side-menu">
                        <li class="active"><a href="#restoran">Kohvik “Kapsas ja kartul”</a></li>
                        <li><a href="#restoran">Restoran “Taldrik”</a></li>
                     </ul>
                  </div><!--/col-3-->
                  <div class="col-9 sm-12">
                     <article>
                        
                        <h3 class="sm-block-title">Kohvik “Kapsas ja kartul”
                           <span class="btn-bar align-right pull-right sm-hide">
                              <a href="javscript:void(0);" class="btn-circle before-share" data-plugin="share"></a>
                              <a href="javascript:window.print();" class="btn-circle before-print"></a>
                           </span><!--/button-row-->
                        </h3>

                        
                        <h5 class="sm-alignment">Nädalamenüü 22.02-27.02
                           <span class="btn-bar align-right pull-right sm-show">
                              <a href="javscript:void(0);" class="btn-circle before-share" data-plugin="share"></a>
                              <a href="javascript:window.print();" class="sm-hide btn-circle before-print"></a>
                           </span><!--/button-row-->
                        </h5>
                        
                        <div class="table_wrapper" data-plugin="responsiveTable">
                           <table>
                              <thead>
                                 <tr>
                                    <th></th>
                                    <th>Esmaspäev<br />27.02</th>
                                    <th>Teisipäev<br />28.02</th>
                                    <th>Kolmapäev<br />01.03</th>
                                    <th>Neljapäev<br />02.03</th>
                                    <th>Reede<br />03.03</th>
                                 </tr>
                              </thead>
                              <tbody>

                                 <tr>
                                    <td rowspan="3"><b>Koolitoit</b></td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                 </tr>
											
                                 <tr>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                 </tr>
											
											<tr class="dashed-border">
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                 </tr>

                              </tbody>

                              <tbody>

                                 <tr>
                                    <td rowspan="2"><b>Taimetoit</b></td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                 </tr>
                                 <tr class="dashed-border">
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                 </tr>

                              </tbody>

                              <tbody>

                                 <tr>
                                    <td rowspan="2"><b>Laktoosi-<br />vaba</b></td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                    <td>Kartulipüree hakkliha-kastmega ja vitamiinisalat</td>
                                 </tr>
                                 <tr class="dashed-border">
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                    <td>Kissell kirsimoosiga</td>
                                 </tr>

                              </tbody>
                           </table>
                        </div><!--/table-wrapper-->
                        
                        <div class="row no-print">
                           <div class="col-6 sm-12">
                              <figure>
                                <img src="assets/tmp/object-1.jpg" alt="">
                                <figcaption>3. kursuse lõputöö</figcaption>
                              </figure>
                           </div><!--/col-6-->
                           <div class="col-6 sm-12">
                              <figure>
                                <img src="assets/tmp/object-1.jpg" alt="">
                                <figcaption>3. kursuse lõputöö</figcaption>
                              </figure>
                           </div><!--/col-6-->
                        </div><!--/row-->
                        
                        <p><b>Tervislik Lõuna OÜ</b></p>
                        <ul class="list-details">
                           <li>
                              <div class="before-home"></div>
                              <div class="list-details_text">
                                 <p><a href="www.tervisliklouna.ee" target="_blank">www.tervisliklouna.ee</a></p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-envelope"></div>
                              <div class="list-details_text">
                                 <p><a href="mailto:tervisliklouna@toitlustus.ee">tervisliklouna@toitlustus.ee</a></p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-phone"></div>
                              <div class="list-details_text">
                                 <p>+372 78 50 800</p>
                              </div><!--/list-details_text-->
                           </li>
                           <li>
                              <div class="before-location"></div>
                              <div class="list-details_text">
                                 <p>Väimela, Võru vald, Võru maakond 65566 </p>
                              </div><!--/list-details_text-->
                           </li>
                        </ul><!--/list-details-->
                     </article>
                  </div><!--/col-9-->
               </div><!--/row-->
            </div><!--/block-->
            
         </div><!--/col-12-->
      </div><!--/row-->
      
   </div><!--/inline-->
   
   include "modules/footer.html"
   
</div><!--/wrapper-->

include "modules/documentEnd.html"