include "modules/head.html"

<div class="wrapper">
   
   include "modules/header.html"
   
   <div class="inline">
      
      <div class="row">
         <div class="col-12">
            
            <div class="block">
               
               <h2 class="block-title">Uudised</h2>
               
               <div class="row-spacer-xs sm-hide"></div>
               <div class="row">
                  <div class="col-12">
                     <article class="clearSpace">
								
								<div class="btn-bar align-right sm-show sm-pull_right">
									<a href="javscript:void(0);" class="btn-circle before-share" data-plugin="share"></a>
									<a href="javascript:window.print();" class="sm-hide btn-circle before-print"></a>
								</div><!--/button-row-->

								<h1 class="col-7 sm-12">Võrumaa Kutsehariduskeskus osales hariduskonverentsil
									<span class="editor-info">
										<span class="before-calendar">20. juuni</span>
										<span class="before-user">Haldur</span>
									</span>
								</h1>
								
								<div class="row">
									<div class="col-7 sm-12">

										<div class="intro">
											<p>12. – 13. juunil 2017 toimus Poolas projekti „Further Vocational Training in Energy Service Technicians“ (VESTE) projekti-kohtumine, Baltic Sea Academy liikmete aastakoosolek ning hariduskonverents, millest võtsid osa Henn Tarro, Kertu Pehlak ja Siret Lillemäe.</p>
										</div><!--/intro-->

                              <p>12. juunil osaleti   projekti VESTE („Further Vocational Training for Energy Service Technicians“) järjekordsel projektipartnerite kohtumisel, kus anti ülevaade tehtust ning lepiti kokku järgnevad tegevused.</p>
                              <ul>
                                 <li>
                                    <a href="http://google.com" target="_blank">Link</a>
                                 </li>
                              </ul>
                              <ol>
                                 <li>
                                    <a href="http://google.com" target="_blank">Link</a>
                                 </li>
                              </ol>

										<p>Rohkem infot projekti kodulehel <a href="">http://veste-project.eu/</a></p>

										<p>13 .juunil toimus Gdanskis konverents „Meistrid kujundavad tulevikku – uued teed väikeettevõtjate ja väikeettevõtete juhtivtöötajate koolituses.“</p>
										<p>Esinejad Poolast, Saksamaalt ja Leedust jagasid kogemusi meistritaseme (5. tase) õppekavade uuendamisel. Kesksel kohal oli ettevõtlusõppe osa uutes õppekavades.</p>
										<p>Kuna ettevõtlusõppe arendamine kutsehariduses on väga aktuaalne ka Eestis, saime palju kasulikke mõtteid.</p>
										<p>Gdanskis toimus ka Läänemeremaade koolitusasutuste ja ettevõtjate ühenduste koostöövõrgustiku  Baltic Sea Academy (http://www.balticsea-academy.eu) liikmete korraline aastakoosolek, kus kinnitati aastaruanne ja pandi paika tulevikuplaanid. Võrumaa Kutsehariduskeskus on Baltic Sea Academy asutajaliige aastast 2010.</p>
										<p>Rohkem pilte <a href="">galeriist</a></p>


										<div class="row-spacer-xs"></div>
										<span class="article-date sm-hide"><i>Viimati muudeti: 02.10.2017</i></span>
									</div><!--/col-8-->
									<div class="col-4 sm-12 col-offset-1 sm-offset-0">

										<div class="btn-bar align-right sm-hide">
											<a href="javscript:void(0);" class="btn-circle before-share" data-plugin="share"></a>
											<a href="javascript:window.print();" class="sm-hide btn-circle before-print"></a>
										</div><!--/button-row-->
										
										<div class="row-spacer-xl no-print sm-hide"></div>

										<figure>
										  <a href="assets/tmp/object-1.jpg" data-download="assets/tmp/object-1.jpg" data-plugin="modal" data-modal="mingi_pildi_ID" data-closeButton="Sulge" data-heading="Uudised" data-title="Illustreeriv foto teenuse sisuteksti juurde"><img src="assets/tmp/object-1.jpg" alt=""></a>
										  <figcaption>Illustreeriv foto teenuse sisuteksti juurde</figcaption>
										</figure>

										<figure>
										  <a href="https://www.youtube.com/watch?v=l3zuEjFPGD4" data-plugin="modal" data-heading="Illustreeriv foto teenuse sisuteksti juurde" data-closeButton="Sulge"><img src="assets/tmp/object-2.jpg" alt=""></a>
										  <figcaption>Illustreeriv foto teenuse sisuteksti juurde</figcaption>
										</figure>
										<span class="article-date sm-show"><i>Viimati muudeti: 02.10.2017</i></span>
									</div><!--/col-4-->
								</div><!--/row-->
                        
                     </article>
                  </div><!--/col-12-->
               </div><!--/row-->
               
            </div><!--/block-->
            
            <div class="block no-print">
               
               <h2 class="block-title">Veel uudiseid</h2>
               
               <div class="row row-vertical-xl">
                  <div class="col-4 sm-12">
                     
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Võrumaa Kutsehariduskeskus osales hariduskonverentsil pikem pealkiri ja nii edasi</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                     
                  </div><!--/col-4 sm-12-->
						<div class="col-4 sm-12">
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-2.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Lõpuaktuste ajakava</span>
                              <span class="object-footer">
                                 <span class="before-calendar">15. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4 sm-12-->
						<div class="col-4 sm-12">
                     
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Võrumaa Kutsehariduskeskus osales hariduskonverentsil pikem pealkiri ja nii edasi</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                     
                  </div><!--/col-4 sm-12-->
						<div class="col-4 sm-12">
                     
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Võrumaa Kutsehariduskeskus osales hariduskonverentsil pikem pealkiri ja nii edasi</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                     
                  </div><!--/col-4 sm-12-->
						<div class="col-4 sm-12">
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-2.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Lõpuaktuste ajakava</span>
                              <span class="object-footer">
                                 <span class="before-calendar">15. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                  </div><!--/col-4 sm-12-->
						<div class="col-4 sm-12">
                     
                     <a href="" class="object">
                        <span class="object-inner">
                           <span class="object-image" style="background-image:url(assets/tmp/object-1.jpg);"><img alt="" src="assets/imgs/placeholder-56.gif"></span>
                           <span class="object-content">
                              <span class="object-title">Võrumaa Kutsehariduskeskus osales hariduskonverentsil pikem pealkiri ja nii edasi</span>
                              <span class="object-footer">
                                 <span class="before-calendar">20. juuni</span>
                                 <span class="before-user">Haldur</span>
                              </span><!--/object-footer-->
                           </span><!--/object-content-->
                        </span><!--/object-inner-->
                     </a><!--/object-->
                     
                  </div><!--/col-4 sm-12-->
               </div><!--/row-->
               <div class="row">
                  <div class="col-12">
                     <a href="" class="btn sm-stretch">Kõik uudised</a>
                  </div><!--/col-12-->
               </div><!--/row-->
               
            </div><!--/block-->
            
         </div><!--/col-12-->
      </div><!--/row-->
      
   </div><!--/inline-->
   
   include "modules/footer.html"
   
</div><!--/wrapper-->

include "modules/documentEnd.html"