<footer class="main">
   <div class="inline">
      <div class="row">
         <div class="col-4 sm-hide">
            <h3>Koostööpartnerid</h3>
            <ul class="logos-footer">
               <li><a href=""><img src="assets/tmp/logo-innove.svg" alt="footer image" /></a></li>
               <li><a href=""><img src="assets/tmp/logo-hitsa-2.svg" alt="footer image" /></a></li>
               <li><a href=""><img src="assets/tmp/logo-hitsa-2.svg" alt="footer image" /></a></li>
               <li><a href=""><img src="assets/tmp/logo-innove.svg" alt="footer image" /></a></li>
            </ul>
         </div><!--/col-4-->
         <div class="col-4 sm-12">
            <h3>Üldkontakt</h3>
            <p>Võrumaa Kutsehariduskeskus<br />
            Väimela, Võru vald, Võru maakond 65566<br />
            +372 78 50 800<br />
            <a href="mailto:vkhk@vkhk.ee">vkhk@vkhk.ee</a></p>
         </div><!--/col-4-->
         <div class="col-4 sm-12">
            <h3>Olulised kontaktid</h3>
            <table>
               <tr>
                  <td>Direktor Tanel Linnus</td>
                  <td>78 50 802</td>
               </tr>
               <tr>
                  <td>Õppedirektor Riina Randmaa</td>
                  <td>78 50 803</td>
               </tr>
               <tr>
                  <td>Tugitegevuste juht Vadim Mitroškin</td>
                  <td>78 50 805</td>
               </tr>
               <tr>
                  <td>Arendusjuht Reet Urb</td>
                  <td>78 50 819</td>
               </tr>
               
            
            </table>
         </div><!--/col-4-->
      </div><!--/row-->
   </div><!--/inline-->
   
   <a href="https://www.google.com/maps/search/?api=1&query=Võrumaa Kutsehariduskeskus" class="map" data-plugin="googleMaps" data-coords="59.3476599,26.3675338" data-icon="assets/imgs/mapIcon.png">
      
   </a><!--/map-->
   
   <div class="inline">
      <div class="row">
         <div class="col-12 text-center">
            <p><a href="">Avaleht</a> | <a href="">Sisukaart</a></p>
            <p>Copyright 2017 © Võrumaa Kutsehariduskeskus</p>
         </div><!--/col-12-->
      </div><!--/row-->
      
   </div><!--/inline-->
</footer><!--/main-->