<header class="main sm-hide">
   <div class="highlight-bg-1">
      <div class="inline">
         <div class="row">
            <div class="col-6">
               <ul class="header-quicklinks">
                  <li><a href="">RIKS</a></li>
                  <li><a href="">Moodle</a></li>
                  <li><a href="">e-post</a></li>
                  <li><a href="">Intranet</a></li>
                  <li><a href="" class="before-facebook-circle"></a></li>
               </ul><!--/header-quicklinks-->
            </div><!--/col-6-->
            <div class="col-6 flex-right">
               <ul class="header-quicklinks">
                  <li class="active"><a href="">EST</a></li>
                  <li><a href="">ENG</a></li>
                  <li>
                     <form method="post" action="index.html">
                        <div class="header-search">
                           <input type="text" placeholder="Otsi" />
                           <button></button>
                        </div><!--/header-search-->
                     </form>
                  </li>
               </ul><!--/header-quicklinks-->
            </div><!--/col-6-->
         </div><!--/row-->
      </div><!--/inline-->
   </div><!--/highlight-bg-->

   <div class="inline">
      <div class="row">
         <div class="col-6">
            <a href="index.html" class="header-logo"><img alt="" src="assets/tmp/logo.png" /></a>
         </div><!--/col-9-->
         <div class="col-6">
				<div class="bullet-links-wrapper">
						<ul class="bullet-links">
								<li><a href="">Uudised</a></li>
								<li><a href="">Galerii</a></li>
								<li><a href="">Toitlustamine</a></li>
							</ul>
							<ul class="bullet-links">
									<li><a href="">Uudised</a></li>
									<li><a href="">Galerii</a></li>
									<li><a href="">Toitlustamine</a></li>
								</ul>
				</div><!--/bullet-links-wrapper-->
       </div><!--/col-3-->
      </div><!--/row-->
   </div><!--/inline-->

   <div class="header-nav" data-plugin="mainMenu">
      <div class="inline">
         <div class="row">
            <div class="col-12">
               <ul class="header-nav_main">
                  <li>
                     <a href="">Avaleht</a>
                  </li>
                  <li>
                     <a href="">Sisseastumine</a>
                  </li>
                  <li>
                     <a href="">Õppetöö</a>
                  </li>
                  <li>
                     <a href="">Koolielu</a>
                     <div class="header-nav_dropdown">
                        <div class="inline">
                           <div class="row">
                              <div class="col-9">
                                 <h3>Koolielu</h3>   
                                 <div class="row">
                                    <div class="col-4">
                                       <ul>
                                          <li class="active"><a href="">Põhiväärtused</a></li>
                                          <li><a href="">Traditsioonid</a></li>
                                          <li><a href="">Põhimäärus</a></li>
                                          <li><a href="">Arengukava</a></li>
                                          <li><a href="">Tööpakkumised</a></li>
                                       </ul>
                                    </div><!--/col-4-->
                                    <div class="col-4">
                                       <ul>
                                          <li><a href="">Õpilasesindus</a></li>
                                          <li><a href="">Õppenõukogu</a></li>
                                          <li><a href="">Hoolekogu</a></li>
                                          <li><a href="">Koostöö</a></li>
                                          <li><a href="">Vilistlased</a></li>
                                       </ul>
                                    </div><!--/col-4-->
                                    <div class="col-4">
                                       <ul>
                                          <li><a href="">Galerii</a></li>
                                          <li><a href="">Tunnustused</a></li>
                                          <li><a href="">Kooli sümboolika</a></li>
                                          <li><a href="">Aastaaruanded</a></li>
                                          <li><a href="">Kooli väljaanded</a></li>
                                       </ul>
                                    </div><!--/col-4-->
                                 </div><!--/row-->
                              </div><!--/col-9-->
                              <div class="col-3">
                                 <h4>Kooliaasta avaaktus</h4>
                                 <a href=""><img alt="" src="assets/tmp/meie_koolist.png" /></a>
                                 <a href="" class="btn">Vaata galeriid</a>
                              </div><!--/col-3-->
                           </div><!--/row-->
                        </div><!--/inline-->
                     </div><!--/header-nav_dropdown-->
                  </li>
                  <li>
                     <a href="">Täiendõpe</a>
                  </li>
                  <li>
                     <a href="">Teenused</a>
                  </li>
                  <li class="active">
                     <a href="">Meie koolist</a>
                     <div class="header-nav_dropdown">
                        <div class="inline">
                           <div class="row">
                              <div class="col-9">
                                 <h3>Meie koolist</h3>   
                                 <div class="row">
                                    <div class="col-4">
                                       <ul>
                                          <li class="active"><a href="">Põhiväärtused</a></li>
                                          <li><a href="">Traditsioonid</a></li>
                                          <li><a href="">Põhimäärus</a></li>
                                          <li><a href="">Arengukava</a></li>
                                          <li><a href="">Tööpakkumised</a></li>
                                       </ul>
                                    </div><!--/col-4-->
                                    <div class="col-4">
                                       <ul>
                                          <li><a href="">Õpilasesindus</a></li>
                                          <li><a href="">Õppenõukogu</a></li>
                                          <li><a href="">Hoolekogu</a></li>
                                          <li><a href="">Koostöö</a></li>
                                          <li><a href="">Vilistlased</a></li>
                                       </ul>
                                    </div><!--/col-4-->
                                    <div class="col-4">
                                       <ul>
                                          <li><a href="">Galerii</a></li>
                                          <li><a href="">Tunnustused</a></li>
                                          <li><a href="">Kooli sümboolika</a></li>
                                          <li><a href="">Aastaaruanded</a></li>
                                          <li><a href="">Kooli väljaanded</a></li>
                                       </ul>
                                    </div><!--/col-4-->
                                 </div><!--/row-->
                              </div><!--/col-9-->
                              <div class="col-3">
                                 <h4>Kooliaasta avaaktus</h4>
                                 <a href=""><img alt="" src="assets/tmp/meie_koolist.png" /></a>
                                 <a href="" class="btn">Vaata galeriid</a>
                              </div><!--/col-3-->
                           </div><!--/row-->
                        </div><!--/inline-->
                     </div><!--/header-nav_dropdown-->
                  </li>
                  <li>
                     <a href="" title="ei ole ju katki">Kontakt</a>
                  </li>
               </ul>
            </div><!--/col-12-->
         </div><!--/row-->
      </div><!--/inline-->
   </div><!--/header-nav-->

</header><!--/main-->

<header class="mobile" data-plugin="mobileMenu">
   <div class="main-links">
      <a href="javascript:void(0);" class="before-menu" data-trigger="menu">Menüü</a>
      <div class="pull-right">
         <a href="javascript:void(0);" class="before-link" data-trigger="links"></a>
         <a href="javascript:void(0);" class="before-search" data-trigger="search"></a>
      </div><!--/pull-right-->
   </div><!--/main-links-->

   <div data-target="search" class="mobile-search">
      <form method="post" action="index.html">
         <div class="form-item">
            <input type="text" placeholder="Otsi..."/>
            <button type="submit"></button>
         </div><!--/form-item-->
      </form>
   </div><!--/search-->
   
   <div class="mobile-menu">
      <div class="panel-header">
         <div class="language">
            <div class="language-active">EST</div>
            <div class="language-more">
               <a href="" class="active">Eesti Keel</a>
               <a href="">русский</a>
               <a href="">In English</a>
            </div><!--/language-more-->
         </div><!--/language-->
         <div class="closeBtn"></div>
      </div><!--/panel-header-->
      
      <ul>
         <li>
            <a href="">Õppetöö</a>
            <ul>
               <li><a href="">Uue õppuri meelespea</a></li>
               <li><a href="">Valikained</a></li>
               <li>
						<a href="">Tunniplaan</a>
						<ul>
							<li><a href="">Uue õppuri meelespea</a></li>
							<li><a href="">Valikained</a></li>
							<li class="active"><a href="">Tunniplaan</a></li>
							<li><a href="">Õppetöö kalender</a></li>
							<li><a href="">Õppetöö korraldus</a></li>
							<li><a href="">Konsultatsiooniajad</a></li>
							<li><a href="">Uurimustöö</a></li>
							<li><a href="">Õpilastööde vormistamine</a></li>
							<li><a href="">Huvitavat lugemist</a></li>
						</ul>
					</li>
               <li><a href="">Õppetöö kalender</a></li>
               <li><a href="">Õppetöö korraldus</a></li>
               <li><a href="">Konsultatsiooniajad</a></li>
               <li><a href="">Uurimustöö</a></li>
               <li><a href="">Õpilastööde vormistamine</a></li>
               <li><a href="">Huvitavat lugemist</a></li>
            </ul>
         </li>
         <li><a href="">Vastuvõtt</a></li>
         <li><a href="">Koolielu</a></li>
         <li><a href="">Huvitegevus</a></li>
         <li><a href="">Meie koolist</a></li>
         <li><a href="">Kontakt</a></li>
      </ul>
      
   </div><!--/mobile-menu-->
   
   <div class="mobile-quick-links">
      <div class="panel-header">
         <div class="panel-title before-link">Välislingid</div>
         <div class="closeBtn"></div>
      </div><!--/panel-header-->
      
      <ul>
         <li><a href="">RIKS</a></li>
         <li><a href="">Moodle</a></li>
         <li><a href="">e-post</a></li>
         <li><a href="">Intranet</a></li>
         <li><a href="" class="before-facebook-circle">Facebook</a></li>
      </ul>
      
   </div><!--/mobile-quick-links-->
   
</header><!--/mobile-->
<div class="mobile-logo">
   <a href="index.html" class="header-logo"><img alt="" src="assets/tmp/logo.png" /></a>
</div><!--/mobile-logo-->
