<div class="hero sm-hide">
	<div class="hero-image" style="background-image:url(assets/tmp/frontpage-hero.jpg);">
		
	</div>
   
   <div class="inline">
      <div class="row">
         <div class="col-12">
            
            <div class="swiper-holder" data-plugin="caroussel" data-slidesPerView="4">
               <div class="swiper-container">
                  <div class="swiper-wrapper">

                     <div class="swiper-slide">
                        <div class="row">
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-aiandus"></span>
                                    <span class="caroussel_profession-title">Lennuliiklusteenindus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-arhitektuur"></span>
                                    <span class="caroussel_profession-title">Arhitektuur ja linnaplaneerimine</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
									
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-disain"></span>
                                    <span class="caroussel_profession-title">Disain, audivisuualsed tehnikad ja meedia tootmine</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-ehitus"></span>
                                    <span class="caroussel_profession-title">Ehitus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           
                        </div><!--/row-->
                        
                     </div><!--/swiper-slide-->
                     
							
							
                     
                  </div><!--/swiper-wrapper-->
               </div><!--/swiper-container-->
               
               <div class="swiper-pagination"></div>
               <div class="swiper-button-prev"></div>
               <div class="swiper-button-next"></div>
               
            </div><!--/swiper-holder-->
            
         </div><!--/col-12-->
      </div><!--/row-->

   </div><!--/inline-->
</div><!--/hero-->