<div class="hero sm-hide">
	<div class="hero-image" style="background-image:url(assets/tmp/frontpage-hero.jpg);">
		
	</div>
   
   <div class="inline">
      <div class="row">
         <div class="col-12">
            
            <div class="swiper-holder" data-plugin="caroussel" data-slidesPerView="4">
               <div class="swiper-container">
                  <div class="swiper-wrapper">

                     <div class="swiper-slide">
                        <div class="row">
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-aiandus"></span>
                                    <span class="caroussel_profession-title">Lennuliiklusteenindus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-arhitektuur"></span>
                                    <span class="caroussel_profession-title">Arhitektuur ja linnaplaneerimine</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
									
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-disain"></span>
                                    <span class="caroussel_profession-title">Disain, audivisuualsed tehnikad ja meedia tootmine</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-ehitus"></span>
                                    <span class="caroussel_profession-title">Ehitus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           
                        </div><!--/row-->
                        
                     </div><!--/swiper-slide-->
                     
							
							<div class="swiper-slide">
                        <div class="row">
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-elektrienergia"></span>
                                    <span class="caroussel_profession-title">Elektrienergia, energeetika ja automaatika</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-iluteenindus"></span>
                                    <span class="caroussel_profession-title">Iluteenindus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
									
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-info"></span>
                                    <span class="caroussel_profession-title">Info- ja kommunikatsiooni- tehnoloogia</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-kaevandamine"></span>
                                    <span class="caroussel_profession-title">Kaevandamine</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           
                        </div><!--/row-->
                        
                     </div><!--/swiper-slide-->
                     
							
							<div class="swiper-slide">
                        <div class="row">
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-kalandus"></span>
                                    <span class="caroussel_profession-title">Kalandus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-kaubandus"></span>
                                    <span class="caroussel_profession-title">Kaubandus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-keemiatehnoloogia"></span>
                                    <span class="caroussel_profession-title">Keemiatehnoloogia</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-keskkonnakaitse"></span>
                                    <span class="caroussel_profession-title">Keskkonnakaitse</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           
                           
                        </div><!--/row-->
                        
                     </div><!--/swiper-slide-->
							
							<div class="swiper-slide">
                        <div class="row">
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-kasitoo"></span>
                                    <span class="caroussel_profession-title">Käsitöö</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-lastehoid"></span>
                                    <span class="caroussel_profession-title">Lastehoid</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-laevandus"></span>
                                    <span class="caroussel_profession-title">Laevandus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-materjalid"></span>
                                    <span class="caroussel_profession-title">Materjalide töötlus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           
                           
                        </div><!--/row-->
                        
                     </div><!--/swiper-slide-->
							
							<div class="swiper-slide">
                        <div class="row">
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-mehaanika"></span>
                                    <span class="caroussel_profession-title">Mehaanika ja metallitöötlus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-metsandus"></span>
                                    <span class="caroussel_profession-title">Metsandus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-muusika"></span>
                                    <span class="caroussel_profession-title">Muusika ja esitluskunstid</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-puitmaterjalid"></span>
                                    <span class="caroussel_profession-title">Puitmaterjalide töötlus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           
                           
                        </div><!--/row-->
                        
                     </div><!--/swiper-slide-->
							
							<div class="swiper-slide">
                        <div class="row">
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-pollumajandus"></span>
                                    <span class="caroussel_profession-title">Põllumajandus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-sojandus"></span>
                                    <span class="caroussel_profession-title">Sõjandus ja riigikaitse</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-tervishoid"></span>
                                    <span class="caroussel_profession-title">Tervishoid, teraapia ja sotsiaalteenused, sotsiaaltöö</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-tekstiil"></span>
                                    <span class="caroussel_profession-title">Tekstiili, rõivaste ja jalatsite valmistamine, naha töötlemine</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           
                           
                        </div><!--/row-->
                        
                     </div><!--/swiper-slide-->
							
							<div class="swiper-slide">
                        <div class="row">
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-toiduained"></span>
                                    <span class="caroussel_profession-title">Toiduainetöötlus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-transporditeenused"></span>
                                    <span class="caroussel_profession-title">Transporditeenused</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-transporditehnika"></span>
                                    <span class="caroussel_profession-title">Transporditehnika</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-turism"></span>
                                    <span class="caroussel_profession-title">Turismi-, toitlustus- ja majutusteenindus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           
                           
                        </div><!--/row-->
                        
                     </div><!--/swiper-slide-->
							
							<div class="swiper-slide">
                        <div class="row">
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-vara_isikukaitse"></span>
                                    <span class="caroussel_profession-title">Vara- ja isikukaitse</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-veterinaaria"></span>
                                    <span class="caroussel_profession-title">Veterinaaria</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           <div class="col-3">
                              <a href="" class="block">
                                 <span class="caroussel_profession">
                                    <span class="caroussel_profession-icon before-areas-ariteenindus"></span>
                                    <span class="caroussel_profession-title">Äriteenindus</span>
                                    <div class="caroussel_profession-btn_wrapper">
                                       <span class="btn">Vaata erialasid</span>
                                    </div><!--caroussel_profession-btn_wrapper-->
                                 </span><!--/caroussel_profession-->
                              </a><!--/block-->
                           </div><!--/col-3-->
                           
                           
                        </div><!--/row-->
                        
                     </div><!--/swiper-slide-->
                     
                  </div><!--/swiper-wrapper-->
               </div><!--/swiper-container-->
               
               <div class="swiper-pagination"></div>
               <div class="swiper-button-prev"></div>
               <div class="swiper-button-next"></div>
               
            </div><!--/swiper-holder-->
            
         </div><!--/col-12-->
      </div><!--/row-->

   </div><!--/inline-->
</div><!--/hero-->