
.field-name-field-subjects-table #edit-field-subjects-table-und-0-tablefield-rebuild{
    display: none;
}
.field-name-field-subjects-table #edit-field-subjects-table-und-0-tablefield-import{
    display: none;
}
.field-name-field-subjects-table #edit-field-subjects-table-und-0-tablefield-paste{
    display: none;
}
.field-name-field-subjects-table .fieldset-description{
    display: none;
}
.field-name-field-subjects-table .form-item-field-subjects-table-und-0-tablefield-caption{
    display: none;
}
.page-admin-structure-taxonomy-catering-provider  .text-format-wrapper{
    display: none ;
}
.page-admin-structure-taxonomy-catering-provider #edit-relations{
    display: none ;
}
.page-admin-structure-taxonomy-catering-provider #edit-path{
    display: none ;
}