<div class="hero-mini">
   <div class="swiper-holder" data-plugin="caroussel" data-slidesPerView="1" data-spaceBetween="0">
      <div class="swiper-container">
         <div class="swiper-wrapper">

            <div class="swiper-slide"  style="background-image:url(assets/tmp/ravioli.jpg);">
               <a href="" class="block">
                  <span class="caroussel_profession">
                     <span class="caroussel_profession-title">Toitlustus</span>
                     <span class="btn">Vaata erialasid</span>
                  </span><!--/caroussel_profession-->
               </a><!--/block-->
            </div><!--/swiper-slide-->
            
            <div class="swiper-slide" style="background-image:url(assets/tmp/tourism.jpg);">
               <a href="" class="block">
                  <span class="caroussel_profession">
                     <span class="caroussel_profession-title">Turism ja majutus</span>
                     <span class="btn">Vaata erialasid</span>
                  </span><!--/caroussel_profession-->
               </a><!--/block-->
            </div><!--/swiper-slide-->
            
            <div class="swiper-slide" style="background-image:url(assets/tmp/shopping.jpg);">
               <a href="" class="block">
                  <span class="caroussel_profession">
                     <span class="caroussel_profession-title">Kaubandus</span>
                     <span class="btn">Vaata erialasid</span>
                  </span><!--/caroussel_profession-->
               </a><!--/block-->
            </div><!--/swiper-slide-->
            
            <div class="swiper-slide" style="background-image:url(assets/tmp/business.jpg);">
               <a href="" class="block">
                  <span class="caroussel_profession">
                     <span class="caroussel_profession-title">Äri</span>
                     <span class="btn">Vaata erialasid</span>
                  </span><!--/caroussel_profession-->
               </a><!--/block-->
            </div><!--/swiper-slide-->
            
            
         </div><!--/swiper-wrapper-->
      </div><!--/swiper-container-->

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

   </div><!--/swiper-holder-->
</div><!--/hero-mini-->